
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 23.4rem;
}.https-wwwremovebg-upload-new-qZT {
  height: 1.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
}
