
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-22-Nfs {
  padding-bottom: 4.7rem;
  overflow: hidden;
  flex-direction: column;
  background-color: #dbdbdb;
  border-radius: 2rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-2qpb-VkV {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10.2rem 15.8rem 13.7rem 13.8rem;

    .image-12-Pqs {
      width: 10.9rem;
      cursor: pointer;
      background-position: center;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:457f64d7597c027da381517c00e270da15053259');
      margin-right: 0.9rem;
      height: 8.6rem;
      background-color: rgba(226, 219, 243, 0.150000006);
      background-size: 100% 100%;
    }
    .spits-sW9 {
      font-family: Revalia, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
      line-height: 0.86;
      color: #000000;
    }
  }
  .auto-group-q681-NSu {
    height: 49.8rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .toyfacestansparentbg29-79b {
      position: absolute;
      left: 18.8rem;
      top: 8.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 26.736rem;
      height: 32.8789rem;
    }
    .rectangle-5-bqT {
      height: 18.0343rem;
      position: absolute;
      left: 19.2122rem;
      top: 29.8708rem;
      object-fit: contain;
      vertical-align: top;
      width: 27.8255rem;
    }
    .toyfacestansparentbg49-ur9 {
      object-fit: cover;
      vertical-align: top;
      width: 38.1037rem;
      height: 45.3069rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .rectangle-3-2fs {
      width: 39.4rem;
      height: 19.5rem;
      position: absolute;
      left: 0;
      top: 27.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-4-Zfo {
      width: 35.7rem;
      height: 6.4rem;
      position: absolute;
      left: 17rem;
      top: 43.4rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
