
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-3-a9X {
  padding-top: 3.216rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .charitable-Z1T {
    margin: 0rem 17.81rem 1.987rem 14.853rem;
    width: calc(100% - 32.6628rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .vector-LK3 {
      margin: 0rem 0.168rem 0.005rem 0rem;
      width: 1.0997rem;
      height: 1.1461rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-2Bs {
      margin: 0rem 0.136rem 0.013rem 0rem;
      width: 0.8897rem;
      height: 1.1862rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-x5X {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.1983rem;
      width: 0.9442rem;
      height: 0.9201rem;
      object-fit: contain;
    }
    .vector-hJ1 {
      width: 0.5546rem;
      height: 0.9041rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.105rem 0.013rem 0rem;
    }
    .vector-25P {
      margin: 0rem 0.107rem 0.013rem 0rem;
      width: 0.3254rem;
      height: 1.284rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-YpR {
      margin: 0rem 0.098rem 0.013rem 0rem;
      width: 0.5643rem;
      height: 1.1125rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-ecZ {
      margin-right: 0.1983rem;
      width: 0.9442rem;
      height: 0.9201rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-mhB {
      width: 0.9442rem;
      height: 1.199rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.1438rem;
    }
    .vector-7m3 {
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0.144rem 0.013rem 0rem;
      width: 0.2741rem;
      height: 1.1862rem;
    }
    .vector-3Po {
      flex-shrink: 0;
      width: 0.8977rem;
      height: 0.9201rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .post-4-z49 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0.7383rem;

    .post-creator-1-Jad {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 18.774rem 1.038rem 1.053rem;
      width: calc(100% - 19.8275rem);
      height: 4.5rem;

      .profile-picture-onH {
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 0.75rem;
        height: 4.5rem;
        background-size: 100% 100%;
        border-radius: 5rem;
        flex-shrink: 0;
        width: 4.6225rem;
        background-color: #c3c3c3;
        background-image: url('REPLACE_IMAGE:71f117dee3db4be90ef4c22489add8cfb9703256');
      }
      .auto-group-kc73-toj {
        flex-shrink: 0;
        margin: 1.026rem 0rem 0.936rem 0rem;
        height: calc(100% - 1.9617rem);
        display: flex;
        flex-direction: column;

        .full-name-ofo {
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0383rem;
          font-size: 1rem;
        }
        .tagged-location-TEZ {
          font-size: 0.618rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .content-Aem {
      flex-shrink: 0;
      width: 41.4rem;
      height: 25.2278rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-1std-7K7 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.026rem 1.264rem 0rem 1.053rem;
      width: 100%;

      .auto-group-qrwr-SMP {
        height: 2.0755rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.6164rem;
        width: 39.0824rem;
      }
      .content-footer-Zgu {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.156rem 0rem 0.527rem;
        width: calc(100% - 1.6824rem);
        align-items: center;
        display: flex;

        .content-description-h2R {
          color: #000000;
          display: flex;
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';

          .content-description-h2R-sub-0 {
          }
          .content-description-h2R-sub-1 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-4wav-qwF {
          box-sizing: border-box;
          padding-top: 2.6021rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .user-comment-input-field-yXf {
            margin: 0rem 25.813rem 0.513rem 0rem;
            width: calc(100% - 25.813rem);
            display: flex;
            align-items: center;
            border-radius: 2.5rem;
            flex-shrink: 0;

            .user-profile-picture-e1X {
              height: 2.5638rem;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 2.5rem;
              margin-right: 1.0534rem;
              width: 2.6336rem;
              background-color: #b1ccd9;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
              flex-shrink: 0;
            }
            .add-comment-field-GHo {
              font-weight: 400;
              line-height: 1.5;
              color: #bebebe;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0383rem;
              font-size: 1rem;
            }
          }
          .time-of-upload-yCD {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #bebebe;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-spdo-6Gq {
    width: 41.5rem;
    height: 46.6712rem;
    position: relative;
    flex-shrink: 0;

    .post-3-2gH {
      top: 0;
      width: 41.4rem;
      height: 46.6712rem;
      position: absolute;
      left: 0;

      .post-creator-1-9W1 {
        margin: 0rem 18.774rem 1.099rem 1.053rem;
        width: calc(100% - 19.8275rem);
        height: 4.7647rem;
        display: flex;
        align-items: center;

        .profile-picture-TWh {
          border-radius: 5rem;
          margin-right: 0.75rem;
          width: 4.6225rem;
          background-color: #c3c3c3;
          background-image: url('REPLACE_IMAGE:71f117dee3db4be90ef4c22489add8cfb9703256');
          flex-shrink: 0;
          height: 4.7647rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
        }
        .auto-group-8ykf-kVo {
          margin: 1.086rem 0rem 1.05rem 0rem;
          height: calc(100% - 2.1359rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .full-name-EA5 {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1288rem;
            font-size: 1rem;
            font-weight: 600;
          }
          .tagged-location-YwT {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 0.618rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .content-5wP {
        width: 41.4rem;
        height: 26.7118rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-pwf3-di1 {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1.086rem 1.264rem 0rem 1.053rem;

        .auto-group-tgg1-vSD {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.7115rem;
          width: 39.0824rem;
          height: 2.1976rem;
        }
        .content-footer-rKs {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 1.156rem 0rem 0.527rem;
          width: calc(100% - 1.6824rem);
          align-items: center;

          .content-description-aWm {
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            line-height: 1.5;
            color: #000000;
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 700;

            .content-description-aWm-sub-0 {
            }
            .content-description-aWm-sub-1 {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .auto-group-z793-qLD {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 2.8434rem;
            width: 100%;

            .user-comment-input-field-aHo {
              margin: 0rem 25.813rem 0.543rem 0rem;
              width: calc(100% - 25.813rem);
              display: flex;
              align-items: center;
              border-radius: 2.5rem;
              flex-shrink: 0;

              .user-profile-picture-hdK {
                background-size: 100% 100%;
                border-radius: 2.5rem;
                flex-shrink: 0;
                height: 2.7146rem;
                width: 2.6336rem;
                background-color: #b1ccd9;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
                margin-right: 1.0534rem;
              }
              .add-comment-field-zcR {
                color: #bebebe;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.1288rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .time-of-upload-i2d {
              color: #bebebe;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
      }
    }
    .navigation-bar-3Ko {
      top: 31.6rem;
      align-items: center;
      box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
      width: 41.4rem;
      height: 6.9rem;
      position: absolute;
      left: 0;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.9rem 7.006rem 0.8rem 6.531rem;

      .home-eqP {
        margin: 0rem 4.63rem 2.302rem 0rem;
        width: 2.0015rem;
        height: 1.8979rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-tduu-y6y {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 4.5693rem;
        width: 15.1753rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-hyxb-Vb7 {
          margin-bottom: 1.499rem;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .vector-dhK {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 10.8709rem;
            width: 1.9858rem;
            height: 1.8708rem;
            cursor: pointer;
          }
          .direct-messages-NQ1 {
            flex-shrink: 0;
            width: 2.3185rem;
            height: 2.201rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .home-indicator-WFK {
          margin: 0rem 0.526rem 0rem 0.425rem;
          width: calc(100% - 0.9507rem);
          height: 0.5rem;
          background-color: #f2f2f2;
          border-radius: 10rem;
          flex-shrink: 0;
        }
      }
      .profile-aW5 {
        margin-bottom: 2.2rem;
        width: 1.4862rem;
        height: 1.8rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .create-content-Az5 {
      vertical-align: top;
      width: 1.4954rem;
      height: 1.35rem;
      position: absolute;
      left: 19.2rem;
      top: 33.9rem;
      object-fit: contain;
    }
  }
}
