
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-15-7GM {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f8;
  box-sizing: border-box;
  padding-bottom: 0.1rem;

  .auto-group-nenm-DKP {
    margin-bottom: 19.9rem;
    width: 43.3rem;
    height: 61.1rem;
    position: relative;
    flex-shrink: 0;

    .navigation-bar-wWH {
      box-sizing: border-box;
      padding: 3.965rem 13.062rem 1.67rem 13.163rem;
      height: 14.4rem;
      position: absolute;
      left: 0.1rem;
      top: 0;
      background-color: #ffffff;
      width: 41.4rem;
      cursor: pointer;
      box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);

      .auto-group-bhr3-3JR {
        width: 100%;
        height: 100%;

        .auto-group-aqxf-PNH {
          width: 100%;
          height: 4.5934rem;
        }
      }
    }
    .rectangle-319-HyT {
      left: 0;
      top: 10.2rem;
      background-color: rgba(183, 173, 173, 0.200000003);
      border-radius: 1rem;
      width: 15rem;
      height: 4.2rem;
      position: absolute;
    }
    .chevron-left-C4q {
      cursor: pointer;
      position: absolute;
      left: 3.6rem;
      top: 4.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 2.4rem;
    }
    .vector-uV3 {
      width: 10.65rem;
      height: 11.8333rem;
      position: absolute;
      left: 15.375rem;
      top: 27.2917rem;
      object-fit: contain;
      vertical-align: top;
    }
    .direct-message-feed-2Jm {
      position: absolute;
      left: 0;
      top: 3.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 43.3rem;
      height: 57.3rem;

      .auto-group-zu9j-M69 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 1.345rem 2.9rem 5.627rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .search-messages-bar-sKP {
          display: flex;
          flex-shrink: 0;
          padding: 0.6rem 24.158rem 0.4rem 2.446rem;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          background-color: #f3f3f3;
          border-radius: 0.5rem;
          margin-bottom: 4.3rem;

          .vector-ydK {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.489rem 0.2rem 0rem;
            width: 1.8347rem;
            height: 1.5rem;
          }
          .search--hJR {
            color: #c9c9c9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.603rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .auto-group-zrkm-PS9 {
          margin-right: 2.8811rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .liked-wCm {
            line-height: 1.2575;
            color: #000000;
            font-family: Baloo Tamma 2, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.1rem;
            font-size: 1.4rem;
            font-weight: 700;
          }
          .shared-rqX {
            color: #000000;
            flex-shrink: 0;
            margin-right: 8.8rem;
            cursor: pointer;
            font-size: 1.4rem;
            line-height: 1.5;
            font-weight: 700;
            font-family: Baloo Tamma 2, 'Source Sans Pro';
            white-space: nowrap;
          }
          .saved-BN1 {
            font-family: Baloo Tamma 2, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
          }
        }
      }
      .message-sender-1-Wv5 {
        box-sizing: border-box;
        padding-right: 0.6695rem;
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .user-profile-picture-emP {
          background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
          margin: 0.3rem 2.202rem 0rem 0rem;
          width: 3.0579rem;
          height: 2.5rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #b1ccd9;
          border-radius: 2.5rem;
          flex-shrink: 0;
        }
        .auto-group-ugkh-L8R {
          flex-shrink: 0;
          margin-right: 3.2709rem;
          display: flex;
          flex-direction: column;

          .tell-us-about-yourself-gTB {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .content-description-Qe5 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 31.1rem;
          }
        }
        .time-of-upload-wP7 {
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bebebe;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-pbsw-GgH {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 2rem;
        width: 100%;
        row-gap: 3.5rem;
        display: flex;
        flex-direction: column;

        .message-sender-2-D5j {
          height: 4.5rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .user-profile-picture-krM {
            flex-shrink: 0;
            background-color: #b1ccd9;
            background-repeat: no-repeat;
            border-radius: 2.5rem;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
            margin: 0.3rem 2.202rem 0rem 0rem;
            width: 3.0579rem;
            height: 2.5rem;
          }
          .auto-group-efo7-qN1 {
            margin-right: 3.2709rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tell-us-about-yourself-aqP {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 600;
              line-height: 1.5;
            }
            .content-description-86D {
              max-width: 31.1rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .time-of-upload-TeH {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #bebebe;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
        .message-sender-3-zeD {
          flex-shrink: 0;
          height: 4.5rem;
          display: flex;
          align-items: flex-start;

          .user-profile-picture-9X7 {
            flex-shrink: 0;
            margin: 0.3rem 2.202rem 0rem 0rem;
            width: 3.0579rem;
            background-position: center;
            border-radius: 2.5rem;
            background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
            height: 2.5rem;
            background-color: #b1ccd9;
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          .auto-group-zluf-eTs {
            flex-shrink: 0;
            margin-right: 3.2709rem;
            height: 100%;
            display: flex;
            flex-direction: column;

            .tell-us-about-yourself-oLm {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .content-description-XXf {
              max-width: 31.1rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .time-of-upload-GEM {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #bebebe;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .message-sender-4-Q5f {
          height: 4.5rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .user-profile-picture-Lk1 {
            height: 2.5rem;
            background-color: #b1ccd9;
            background-size: 100% 100%;
            background-position: center;
            border-radius: 2.5rem;
            margin: 0.3rem 2.202rem 0rem 0rem;
            width: 3.0579rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
            flex-shrink: 0;
          }
          .auto-group-pqld-SY9 {
            margin-right: 3.2709rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tell-us-about-yourself-CXK {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .content-description-wE1 {
              max-width: 31.1rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .time-of-upload-Ty3 {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #bebebe;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .message-sender-5-c5F {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          height: 4.5rem;

          .user-profile-picture-MoX {
            height: 2.5rem;
            background-color: #b1ccd9;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;
            width: 3.0579rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
            border-radius: 2.5rem;
            margin: 0.3rem 2.202rem 0rem 0rem;
          }
          .auto-group-m5km-4hw {
            margin-right: 3.2709rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tell-us-about-yourself-Daq {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
            .content-description-y4D {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 31.1rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
            }
          }
          .time-of-upload-6ed {
            margin-top: 0.1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #bebebe;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .message-sender-6-Ekq {
          height: 4.5rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .user-profile-picture-Ptd {
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
            border-radius: 2.5rem;
            margin: 0.3rem 2.202rem 0rem 0rem;
            height: 2.5rem;
            background-color: #b1ccd9;
            flex-shrink: 0;
            width: 3.0579rem;
            background-repeat: no-repeat;
            background-position: center;
          }
          .auto-group-fkub-taV {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.2709rem;
            height: 100%;

            .tell-us-about-yourself-eJm {
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 600;
            }
            .content-description-Mys {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 31.1rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .time-of-upload-VqB {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #bebebe;
          }
        }
      }
    }
  }
  .auto-group-gsvb-pcZ {
    width: 100%;
    height: 8.5rem;
    position: relative;
    flex-shrink: 0;

    .start-odering-a5w {
      width: 9.6rem;
      text-align: center;
      font-weight: 600;
      line-height: 1.2575;
      color: #f6f6f9;
      font-family: SF Pro Text, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      left: 15.95rem;
      top: 0;
      font-size: 1.7rem;
    }
    .navigation-bar-UBK {
      padding: 1.9rem 7.006rem 0.8rem 6.531rem;
      left: 0;
      display: flex;
      box-sizing: border-box;
      height: 6.9rem;
      position: absolute;
      top: 1.6rem;
      align-items: center;
      background-color: #ffffff;
      box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
      width: 41.4rem;

      .home-AZw {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.63rem 2.302rem 0rem;
        width: 2.0015rem;
        height: 1.8979rem;
        cursor: pointer;
        object-fit: contain;
      }
      .auto-group-yxpd-TZ3 {
        flex-shrink: 0;
        margin-right: 4.5693rem;
        width: 15.1753rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-cgxk-PxV {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 1.499rem;
          width: 100%;

          .vector-Lsj {
            margin-right: 10.8709rem;
            width: 1.9858rem;
            height: 1.8708rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .direct-messages-ggh {
            width: 2.3185rem;
            height: 2.201rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .home-indicator-d69 {
          height: 0.5rem;
          background-color: #f2f2f2;
          border-radius: 10rem;
          flex-shrink: 0;
          margin: 0rem 0.526rem 0rem 0.425rem;
          width: calc(100% - 0.9507rem);
        }
      }
      .profile-jey {
        flex-shrink: 0;
        margin-bottom: 2.2rem;
        width: 1.4862rem;
        height: 1.8rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .create-content-qxu {
      left: 20rem;
      top: 4rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4954rem;
      height: 1.35rem;
      position: absolute;
    }
  }
}
