
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-20-p5F {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f8;
  border-radius: 2rem;
  width: 100%;

  .auto-group-pqnm-May {
    box-sizing: border-box;
    padding: 27.097rem 5rem 19.4rem 5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .eva-wifi-off-fill-UvV {
      flex-shrink: 0;
      margin: 0rem 1.773rem 2.696rem 0rem;
      width: 13.3285rem;
      height: 12.0066rem;
      object-fit: contain;
      vertical-align: top;
    }
    .no-internet-connection-PXf {
      font-size: 2.8rem;
      line-height: 1.2575;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      text-align: center;
      font-weight: 600;
      color: #000000;
      font-family: SF Pro Text, 'Source Sans Pro';
      white-space: nowrap;
    }
    .your-internet-connection-is-currently-not-available-please-check-or-try-again-V4u {
      font-size: 1.7rem;
      color: #000000;
      font-family: SF Pro Text, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.2575;
      margin-bottom: 5.2rem;
      max-width: 27.5rem;
      text-align: center;
      font-weight: 400;
    }
    .auto-group-phbw-yVs {
      height: 7rem;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      color: #f6f6f9;
      font-family: SF Pro Text, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 3rem;
      text-align: center;
      font-size: 1.7rem;
      display: flex;
      background-color: #fa4a0c;
      width: 100%;
      line-height: 1.2575;
    }
  }
  .navigation-bar-f7o {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.9rem 7.311rem 0.8rem 6.815rem;
    width: 100%;
    height: 6.9rem;
    display: flex;

    .home-Ziy {
      margin: 0rem 4.832rem 2.302rem 0rem;
      width: 2.0885rem;
      height: 1.8979rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-dcnd-gHo {
      margin-right: 4.768rem;
      width: 15.8351rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-4mld-DoX {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.499rem;
        width: 100%;
        display: flex;

        .vector-mq3 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.045rem 0.33rem 0rem;
          width: 2.0722rem;
          height: 1.8708rem;
          object-fit: contain;
        }
        .create-content-J4H {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.803rem 0.201rem 0rem;
          width: 1.4954rem;
          height: 1.35rem;
        }
        .direct-messages-1jP {
          width: 2.4193rem;
          height: 2.201rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .home-indicator-MHT {
        width: calc(100% - 0.992rem);
        height: 0.5rem;
        background-color: #f2f2f2;
        border-radius: 10rem;
        flex-shrink: 0;
        margin: 0rem 0.549rem 0rem 0.443rem;
      }
    }
    .profile-4xZ {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 1.5508rem;
      height: 1.8rem;
      object-fit: contain;
    }
  }
}
