
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-25-GzM {
  width: 100%;
  height: 89.6rem;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f8;
  border-radius: 2rem;

  .updatet-yNy {
    font-size: 1.7rem;
    line-height: 1.2575;
    font-family: SF Pro Text, 'Source Sans Pro';
    white-space: nowrap;
    width: 6rem;
    top: 81rem;
    left: 17.7rem;
    text-align: center;
    font-weight: 600;
    color: #f6f6f9;
    height: 2.2rem;
    position: absolute;
  }
  .explore-feed-QjB {
    background-color: #ffffff;
    width: 43.3rem;
    height: 89.6rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    .auto-group-grdx-KLM {
      margin-bottom: 0.9rem;
      width: 39.3rem;
      height: 4.9rem;
      position: relative;

      .status-bar-light-Sfs {
        width: 39.3rem;
        height: 4.4rem;
        left: 0;
        align-items: center;
        box-sizing: border-box;
        padding: 1.3rem 3.265rem 1.2rem 4.85rem;
        position: absolute;
        top: 0;
        display: flex;

        .time-8Ho {
          line-height: 1.2575;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 600;
          font-family: SF Pro Text, 'Source Sans Pro';
          margin-right: 21.75rem;
          letter-spacing: -0.0165rem;
        }
        .mobile-signal-dEZ {
          margin: 0rem 0.469rem 0.346rem 0rem;
          width: 1.7308rem;
          height: 1.1538rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .wifi-Xaq {
          width: 1.6346rem;
          height: 1.1379rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.465rem 0.362rem 0rem;
        }
        .battery-qrR {
          margin: 0.2rem 0rem 0.4rem 0rem;
          height: calc(100% - 0.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-mvjb-Mpm {
            height: 100%;
            position: relative;
            background-color: #b2b2b2;
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: 2.2rem;

            .rectangle-1-uLV {
              width: 1.6rem;
              height: 1.3rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #000000;
              border-radius: 0.4rem 0 0 0.4rem;
            }
            .percentage-cVo {
              display: flex;
              justify-content: center;
              color: #ffffff;
              white-space: nowrap;
              position: absolute;
              top: 0;
              align-items: center;
              line-height: 1.3;
              font-family: SF Pro Text, 'Source Sans Pro';
              left: 0.5rem;
              width: 1.1rem;
              height: 1.3rem;
              font-size: 1rem;
              font-weight: 700;
              letter-spacing: 0.006rem;
            }
          }
          .battery-end-G4Z {
            width: 0.1347rem;
            height: 0.4058rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0673rem;
          }
        }
      }
      .find-your-cause-a5F {
        height: 1.2rem;
        position: absolute;
        color: #2f2e2e;
        font-family: Poppins, 'Source Sans Pro';
        width: 6.6rem;
        top: 3.7rem;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
        left: 18.5rem;
      }
    }
    .auto-group-m4kb-SdF {
      height: 83.8rem;
      position: relative;
      width: 43.2rem;

      .content-kP3 {
        top: 0;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 39.3rem;
        height: 76.9626rem;
        position: absolute;
        left: 0;

        .jobs-for-you-V5j {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.7862rem;
          width: 100%;
          display: flex;

          .filter-dBw {
            flex-shrink: 0;
            margin: 0rem 0rem 4.046rem 0rem;
            width: calc(100% - 0rem);
            height: 0.1rem;
            border-top: solid 0.1rem #e6e6e6;
            box-sizing: border-box;
          }
          .item--iDP {
            margin-bottom: 0.8181rem;
            width: 100%;
            height: 10.4491rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-2-esj {
              box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
              background-color: #ffffff;
              border-radius: 0.4rem;
              width: 39.3rem;
              height: 10.3658rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .item--A5P {
              width: 4.2074rem;
              position: absolute;
              text-align: center;
              font-weight: 500;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Gotham Pro, 'Source Sans Pro';
              white-space: nowrap;
              box-sizing: border-box;
              line-height: 1.2575;
              background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
              border-radius: 0.4rem;
              padding: 1rem 0.558rem 0.284rem 0.649rem;
              top: 3.803rem;
              height: 2.8844rem;
              left: 32.2664rem;
              font-size: 1.2rem;
            }
            .item--Xa9 {
              width: 30.3428rem;
              height: 8.6463rem;
              position: absolute;
              left: 1.3614rem;
              top: 1.8028rem;
              display: flex;
              align-items: flex-start;

              .group-FW9 {
                margin: 0.18rem 0.912rem 0rem 0rem;
                width: 3.6305rem;
                height: 5.32rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-22-ZWq {
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 2.7rem;
                  width: 3.4846rem;
                  height: 4.8674rem;
                  position: absolute;
                  left: 0.0256rem;
                  top: 0;
                }
                .frame-2815-4iV {
                  padding-top: 3.3346rem;
                  height: 5.3rem;
                  position: absolute;
                  border: solid 0.1092rem #fff9ed;
                  box-sizing: border-box;
                  cursor: pointer;
                  background-repeat: no-repeat;
                  background-image: url('REPLACE_IMAGE:683eec377a60fbea557cd50881c74e38b53770ec');
                  border-radius: 2.1838rem;
                  width: 3.6305rem;
                  background-position: center;
                  left: 0;
                  overflow: hidden;
                  background-size: 100% 100%;
                  top: 0.02rem;

                  .frame-2818-mcu {
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
                    width: 100%;
                  }
                }
              }
              .auto-group-hckr-RhT {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .auto-group-3ag9-aKT {
                  flex-shrink: 0;
                  margin-bottom: 0.5732rem;
                  width: 8.8rem;
                  height: 3.5732rem;
                  position: relative;

                  .ux-ui-designer-Hjf {
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    width: 8.8rem;
                    height: 2.1rem;
                    left: 0;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.5;
                  }
                  .upwork-zty {
                    white-space: nowrap;
                    width: 3.3rem;
                    height: 1.5rem;
                    top: 2.0732rem;
                    line-height: 1.5;
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    position: absolute;
                    left: 0;
                    font-size: 1rem;
                    font-weight: 400;
                  }
                  .remote-only-hoP {
                    top: 2.0732rem;
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 1.5;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 5.1rem;
                    height: 1.5rem;
                    color: #181818;
                    position: absolute;
                    left: 3.162rem;
                  }
                }
                .on-upwork-youll-find-a-range-of-top-freelancers-and-agencies-from-developers-and-development-agencies-to-designers-and-creative-agencies-copywriters-Pw7 {
                  color: #181818;
                  font-family: Gotham Pro, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 25.8rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
            }
          }
          .item--SeV {
            width: 100%;
            height: 10.4491rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.7004rem;

            .rectangle-2-AqP {
              left: 0;
              top: 0;
              box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
              background-color: #ffffff;
              border-radius: 0.4rem;
              width: 39.3rem;
              height: 10.3658rem;
              position: absolute;
            }
            .item--1r1 {
              background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
              left: 32.2664rem;
              font-size: 1.2rem;
              color: #ffffff;
              line-height: 1.2575;
              text-transform: uppercase;
              border-radius: 0.4rem;
              width: 4.2074rem;
              position: absolute;
              text-align: center;
              padding: 0.992rem 0.627rem 0.293rem 0.581rem;
              font-family: Gotham Pro, 'Source Sans Pro';
              font-weight: 500;
              white-space: nowrap;
              box-sizing: border-box;
              height: 2.8844rem;
              top: 3.8358rem;
            }
            .item--cau {
              left: 1.3614rem;
              top: 1.8028rem;
              display: flex;
              align-items: flex-start;
              width: 31.5899rem;
              height: 8.6463rem;
              position: absolute;

              .group-jfX {
                margin: 0.18rem 1.059rem 0rem 0rem;
                width: 3.6305rem;
                height: 5.3528rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-22-G9f {
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 2.7rem;
                  width: 3.5981rem;
                  height: 4.8674rem;
                  position: absolute;
                  left: 0.0256rem;
                  top: 0;
                }
                .frame-2815-BnR {
                  box-sizing: border-box;
                  cursor: pointer;
                  position: absolute;
                  background-repeat: no-repeat;
                  width: 3.6305rem;
                  height: 5.3rem;
                  background-size: 100% 100%;
                  top: 0.0528rem;
                  background-position: center;
                  border-radius: 2.1838rem;
                  padding-top: 3.3346rem;
                  left: 0;
                  overflow: hidden;
                  border: solid 0.1092rem #fff9ed;
                  background-image: url('REPLACE_IMAGE:683eec377a60fbea557cd50881c74e38b53770ec');

                  .frame-2818-uiR {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
                  }
                }
              }
              .auto-group-q7m3-PNh {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .auto-group-pfsf-Xjo {
                  margin-bottom: 0.5732rem;
                  width: 10rem;
                  height: 3.5732rem;
                  position: relative;
                  flex-shrink: 0;

                  .product-designer-fLD {
                    left: 0;
                    line-height: 1.5;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 10rem;
                    height: 2.1rem;
                    position: absolute;
                    top: 0;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #181818;
                  }
                  .facebook-P1K {
                    height: 1.5rem;
                    position: absolute;
                    left: 0;
                    top: 2.0732rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #181818;
                    width: 4.1rem;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    font-weight: 400;
                  }
                  .ca-usa-J8H {
                    width: 3.2rem;
                    position: absolute;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.5rem;
                    left: 3.9313rem;
                    top: 2.0732rem;
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 1.5;
                    color: #181818;
                  }
                }
                .founded-in-2004-facebooks-mission-is-to-give-people-the-power-to-build-community-and-bring-the-world-closer-together-people-use-our-products-to-stay-zmo {
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Gotham Pro, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 26.9rem;
                  font-size: 1rem;
                }
              }
            }
          }
          .item--4Fs {
            height: 10.5668rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.8181rem;
            width: 37.5755rem;

            .rectangle-2-bmb {
              height: 10.486rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
              background-color: #ffffff;
              border-radius: 0.4rem;
              width: 37.5755rem;
            }
            .item--v3B {
              text-align: center;
              color: #ffffff;
              display: flex;
              width: 4.2074rem;
              position: absolute;
              line-height: 1.2575;
              white-space: nowrap;
              border-radius: 0.4rem;
              top: 3.8863rem;
              text-transform: uppercase;
              justify-content: center;
              height: 2.8844rem;
              left: 32.2664rem;
              font-size: 1.2rem;
              font-weight: 500;
              font-family: Gotham Pro, 'Source Sans Pro';
              align-items: center;
              background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
            }
            .item--Lch {
              left: 1.3614rem;
              top: 1.9205rem;
              display: flex;
              align-items: flex-start;
              width: 30.8899rem;
              height: 8.6463rem;
              position: absolute;

              .group-scd {
                flex-shrink: 0;
                margin: 0.166rem 1.059rem 0rem 0rem;
                width: 3.6305rem;
                height: 5.3rem;
                position: relative;

                .rectangle-22-1D3 {
                  border-radius: 2.7rem;
                  width: 3.5981rem;
                  height: 4.8674rem;
                  position: absolute;
                  left: 0.0256rem;
                  top: 0.0144rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .frame-2815-V8D {
                  box-sizing: border-box;
                  width: 3.6305rem;
                  height: 5.3rem;
                  top: 0;
                  overflow: hidden;
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  border-radius: 2.1838rem;
                  padding-top: 3.3346rem;
                  position: absolute;
                  left: 0;
                  background-image: url('REPLACE_IMAGE:683eec377a60fbea557cd50881c74e38b53770ec');
                  cursor: pointer;
                  border: solid 0.1092rem #fff9ed;
                  background-position: center;

                  .frame-2818-1MT {
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
                    width: 100%;
                  }
                }
              }
              .auto-group-zibb-5s7 {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .auto-group-s3z9-EED {
                  margin-bottom: 0.5732rem;
                  width: 12.7rem;
                  height: 3.5732rem;
                  position: relative;
                  flex-shrink: 0;

                  .part-time-ux-designer-Mpd {
                    line-height: 1.5;
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 12.7rem;
                    height: 2.1rem;
                    font-size: 1.4rem;
                    font-weight: 500;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                  .google-Fv1 {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 3rem;
                    position: absolute;
                    left: 0;
                    top: 2.0732rem;
                    color: #181818;
                    height: 1.5rem;
                  }
                  .international-B2y {
                    height: 1.5rem;
                    position: absolute;
                    left: 3.0651rem;
                    font-weight: 300;
                    line-height: 1.5;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    width: 5.3rem;
                    top: 2.0732rem;
                    font-size: 1rem;
                    color: #181818;
                    white-space: nowrap;
                  }
                }
                .search-the-worlds-information-including-webpages-images-videos-and-more-google-has-many-special-features-to-help-you-find-exactly-what-youre-looking-UXs {
                  max-width: 26.2rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #181818;
                  font-family: Gotham Pro, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
          }
          .item--jTo {
            box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
            background-color: #ffffff;
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 100%;
            height: 10.3658rem;
            position: relative;

            .item--5Xf {
              left: 32.0906rem;
              width: 4.2074rem;
              top: 3.8014rem;
              text-align: center;
              font-size: 1.2rem;
              border-radius: 0.4rem;
              box-sizing: border-box;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              padding: 0.992rem 0.627rem 0.293rem 0.581rem;
              height: 2.8844rem;
              position: absolute;
              text-transform: uppercase;
              font-family: Gotham Pro, 'Source Sans Pro';
              white-space: nowrap;
              background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
            }
            .item--H7w {
              width: 30.8561rem;
              height: 7.1463rem;
              position: absolute;
              left: 1.3614rem;
              top: 1.8027rem;
              display: flex;
              align-items: flex-start;

              .group-zY9 {
                height: 5.3184rem;
                position: relative;
                flex-shrink: 0;
                margin: 0.18rem 0.926rem 0rem 0rem;
                width: 3.6305rem;

                .rectangle-22-Vzh {
                  height: 4.8674rem;
                  top: 0;
                  background-size: 113.902% 113.902%;
                  border-radius: 2.7rem;
                  width: 3.495rem;
                  position: relative;
                  left: 0.0256rem;
                  background-position: -0.2631rem -0.4086rem;
                  background-image: url('REPLACE_IMAGE:521841466280ee989dda596d2a99a41d2f8a0400');
                }
                .frame-2815-N2u {
                  border-radius: 2.1838rem;
                  background-size: 100% 100%;
                  left: 0;
                  top: 0.0184rem;
                  overflow: hidden;
                  background-repeat: no-repeat;
                  background-position: center;
                  position: absolute;
                  padding-top: 3.3346rem;
                  width: 3.6305rem;
                  height: 5.3rem;
                  cursor: pointer;
                  box-sizing: border-box;
                  background-image: url('REPLACE_IMAGE:683eec377a60fbea557cd50881c74e38b53770ec');
                  border: solid 0.1092rem #fff9ed;

                  .frame-2818-t1F {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
                  }
                }
              }
              .auto-group-w1zb-XK7 {
                flex-shrink: 0;
                height: 100%;
                display: flex;
                flex-direction: column;

                .auto-group-sxuq-4K3 {
                  margin-bottom: 0.5732rem;
                  width: 8rem;
                  height: 3.5732rem;
                  position: relative;
                  flex-shrink: 0;

                  .web-designer-ziV {
                    position: absolute;
                    top: 0;
                    line-height: 1.5;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    color: #181818;
                    width: 8rem;
                    height: 2.1rem;
                    left: 0;
                    font-size: 1.4rem;
                    font-weight: 500;
                  }
                  .linkedin-hN1 {
                    font-weight: 400;
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    font-size: 1rem;
                    height: 1.5rem;
                    position: absolute;
                    left: 0;
                    top: 2.0732rem;
                    line-height: 1.5;
                    white-space: nowrap;
                    width: 3.7rem;
                  }
                  .ca-usa-R37 {
                    width: 3.2rem;
                    left: 3.4302rem;
                    line-height: 1.5;
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    height: 1.5rem;
                    position: absolute;
                    top: 2.0732rem;
                    font-size: 1rem;
                    font-weight: 300;
                    white-space: nowrap;
                  }
                }
                .linkedin-the-worlds-largest-professional-network-the-mission-of-linkedin-is-simple-connect-the-worlds-professional-Xrq {
                  flex-shrink: 0;
                  max-width: 26.3rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #181818;
                  font-family: Gotham Pro, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .new-jobs-A97 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 0.2298rem;
          width: 37.5755rem;

          .filter-6YZ {
            margin: 0rem 0rem 4rem 0rem;
            width: calc(100% - 0rem);
            height: 0.1rem;
            border-bottom: solid 0.1rem #e6e6e6;
            box-sizing: border-box;
            border-top: solid 0.1rem #e6e6e6;
            flex-shrink: 0;
          }
          .item--ayX {
            box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
            background-color: #ffffff;
            border-radius: 0.4rem;
            height: 10.3658rem;
            display: flex;
            padding: 1.803rem 1.462rem 1.417rem 1.302rem;
            width: 100%;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0.9477rem;
            box-sizing: border-box;

            .item--hHT {
              margin-right: 2.6327rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .group-eTb {
                margin: 0.18rem 0.885rem 0rem 0rem;
                width: 3.4712rem;
                height: 5.35rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-22-mHK {
                  width: 3.3416rem;
                  height: 4.8674rem;
                  position: relative;
                  left: 0.0245rem;
                  background-size: 481.481% 270.833%;
                  background-image: url('REPLACE_IMAGE:54346bc0a2f4be1af7eaddcd92bcd5357342331d');
                  top: 0;
                  background-position: -6.3738rem -4.1576rem;
                  border-radius: 2.7rem;
                }
                .frame-2815-eM7 {
                  border-radius: 2.1838rem;
                  box-sizing: border-box;
                  left: 0;
                  overflow: hidden;
                  height: 5.3rem;
                  background-position: center;
                  background-image: url('REPLACE_IMAGE:683eec377a60fbea557cd50881c74e38b53770ec');
                  top: 0.05rem;
                  border: solid 0.1092rem #fff9ed;
                  background-repeat: no-repeat;
                  position: absolute;
                  background-size: 100% 100%;
                  padding-top: 3.3346rem;
                  width: 3.4712rem;
                  cursor: pointer;

                  .frame-2818-kuw {
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
                    width: 100%;
                  }
                }
              }
              .auto-group-2jfw-dyj {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .auto-group-dt33-zZP {
                  width: 6.9129rem;
                  height: 3.5732rem;
                  position: relative;
                  flex-shrink: 0;
                  margin-bottom: 0.5732rem;

                  .ui-designer-7P7 {
                    font-size: 1.4rem;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    color: #181818;
                    width: 6.7rem;
                    height: 2.1rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-weight: 500;
                    line-height: 1.5;
                  }
                  .instagram-DBF {
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    font-weight: 400;
                    white-space: nowrap;
                    width: 4.2rem;
                    height: 1.5rem;
                    position: absolute;
                    left: 0;
                    top: 2.0732rem;
                  }
                  .ca-usa-vLZ {
                    line-height: 1.5;
                    color: #181818;
                    left: 3.7129rem;
                    font-size: 1rem;
                    position: absolute;
                    top: 2.0732rem;
                    font-weight: 300;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 3.2rem;
                    height: 1.5rem;
                  }
                }
                .instagram-is-a-photo-and-video-sharing-social-networking-service-owned-by-facebook-inc-pB3 {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #181818;
                  font-family: Gotham Pro, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 23.8rem;
                  font-size: 1rem;
                }
              }
            }
            .item--7R3 {
              margin: 1.851rem 0rem 2.411rem 0rem;
              text-align: center;
              font-family: Gotham Pro, 'Source Sans Pro';
              white-space: nowrap;
              height: calc(100% - 4.2619rem);
              font-weight: 500;
              text-transform: uppercase;
              line-height: 1.2575;
              background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
              box-sizing: border-box;
              padding: 0.992rem 0.534rem 0.293rem 0.489rem;
              font-size: 1.2rem;
              color: #ffffff;
              border-radius: 0.4rem;
              flex-shrink: 0;
            }
          }
          .item--5mB {
            height: 10.4491rem;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .rectangle-2-SLq {
              height: 10.3658rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
              background-color: #ffffff;
              border-radius: 0.4rem;
              width: 37.5755rem;
            }
            .item--x4H {
              box-sizing: border-box;
              font-weight: 500;
              text-transform: uppercase;
              padding: 0.992rem 0.534rem 0.293rem 0.489rem;
              top: 3.7865rem;
              border-radius: 0.4rem;
              line-height: 1.2575;
              background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
              height: 2.8844rem;
              position: absolute;
              font-size: 1.2rem;
              color: #ffffff;
              font-family: Gotham Pro, 'Source Sans Pro';
              white-space: nowrap;
              width: 4.0228rem;
              left: 32.0906rem;
              text-align: center;
            }
            .item--ZJy {
              height: 8.6463rem;
              position: absolute;
              left: 1.3017rem;
              top: 1.8027rem;
              display: flex;
              align-items: flex-start;
              width: 26.7005rem;

              .group-tc9 {
                margin: 0.163rem 0.629rem 0rem 0rem;
                width: 3.4712rem;
                height: 5.3rem;
                position: relative;
                flex-shrink: 0;

                .rectangle-22-pkh {
                  position: absolute;
                  left: 0.0245rem;
                  top: 0.0172rem;
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 2.7rem;
                  width: 3.1443rem;
                  height: 4.8674rem;
                }
                .frame-2815-voj {
                  left: 0;
                  border-radius: 2.1838rem;
                  width: 3.4712rem;
                  cursor: pointer;
                  top: 0;
                  border: solid 0.1092rem #fff9ed;
                  box-sizing: border-box;
                  padding-top: 3.3346rem;
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  height: 5.3rem;
                  overflow: hidden;
                  background-image: url('REPLACE_IMAGE:683eec377a60fbea557cd50881c74e38b53770ec');
                  position: absolute;
                  background-position: center;

                  .frame-2818-THs {
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
                    width: 100%;
                  }
                }
              }
              .auto-group-qduj-wD3 {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .auto-group-7zev-t8H {
                  margin-bottom: 0.5732rem;
                  width: 10rem;
                  height: 3.5732rem;
                  position: relative;
                  flex-shrink: 0;

                  .product-designer-1yb {
                    top: 0;
                    line-height: 1.5;
                    color: #181818;
                    white-space: nowrap;
                    width: 10rem;
                    height: 2.1rem;
                    position: absolute;
                    left: 0;
                    font-size: 1.4rem;
                    font-weight: 500;
                    font-family: Gotham Pro, 'Source Sans Pro';
                  }
                  .periscope-8oK {
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    height: 1.5rem;
                    left: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    white-space: nowrap;
                    width: 4.1rem;
                    position: absolute;
                    top: 2.0732rem;
                    line-height: 1.5;
                  }
                  .remote-only-Tah {
                    position: absolute;
                    left: 3.4354rem;
                    top: 2.0732rem;
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 1.5;
                    width: 5.1rem;
                    height: 1.5rem;
                    color: #181818;
                    font-family: Gotham Pro, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .eriscope-is-a-live-video-streaming-app-for-android-and-ios-developed-by-kayvon-beykpour-and-joe-bernstein-and-acquired-by-twitter-before-launch-in-2015-y3F {
                  flex-shrink: 0;
                  max-width: 22.6rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Gotham Pro, 'Source Sans Pro';
                }
              }
            }
          }
        }
      }
      .navigation-bar-2XK {
        padding: 1.9rem 7.311rem 0.8rem 6.815rem;
        left: 0;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        width: 43.2rem;
        height: 6.9rem;
        position: absolute;
        top: 76.9rem;

        .home-v6u {
          width: 2.0885rem;
          height: 1.8979rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.832rem 2.302rem 0rem;
        }
        .auto-group-mkss-CaD {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 4.768rem;
          width: 15.8351rem;
          height: 100%;
          align-items: center;

          .auto-group-qgwd-wGu {
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.499rem;
            width: 100%;
            display: flex;

            .vector-Und {
              flex-shrink: 0;
              margin: 0rem 5.045rem 0.33rem 0rem;
              width: 2.0722rem;
              height: 1.8708rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
            }
            .create-content-c89 {
              margin: 0rem 4.803rem 0.201rem 0rem;
              width: 1.4954rem;
              height: 1.35rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .direct-messages-vPj {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4193rem;
              height: 2.201rem;
              cursor: pointer;
            }
          }
          .home-indicator-f6R {
            margin: 0rem 0.549rem 0rem 0.443rem;
            width: calc(100% - 0.992rem);
            height: 0.5rem;
            background-color: #f2f2f2;
            border-radius: 10rem;
            flex-shrink: 0;
          }
        }
        .profile-mQM {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 1.5508rem;
          height: 1.8rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
