
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-26-2kq {
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-color: #f5f5f8;
  box-sizing: border-box;
  padding-bottom: 0.1rem;

  .auto-group-a9nh-MYD {
    width: 44.2305rem;
    height: 61.1rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 19.9rem 0.1rem;

    .navigation-bar-GQH {
      height: 14.4rem;
      left: 0;
      background-color: #ffffff;
      box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 3.965rem 13.062rem 1.67rem 13.163rem;
      width: 41.4rem;
      position: absolute;
      top: 0;

      .auto-group-rocm-BGM {
        height: 100%;
        width: 100%;

        .auto-group-qltb-jYm {
          width: 100%;
          height: 4.5934rem;
        }
      }
    }
    .rectangle-319-qbo {
      left: 13.5rem;
      top: 10.2rem;
      background-color: rgba(183, 173, 173, 0.200000003);
      border-radius: 1rem;
      width: 13.5rem;
      height: 4.2rem;
      position: absolute;
    }
    .chevron-left-9cV {
      height: 1.2rem;
      position: absolute;
      left: 4.4rem;
      top: 4.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.6rem;
    }
    .vector-Gx1 {
      position: absolute;
      left: 15.275rem;
      top: 27.2917rem;
      object-fit: contain;
      vertical-align: top;
      width: 10.65rem;
      height: 11.8333rem;
    }
    .direct-message-feed-zND {
      position: absolute;
      left: 1.6rem;
      top: 3.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 42.6305rem;
      height: 57.3rem;

      .auto-group-f8xt-6RF {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 1.703rem 3.2rem 3.3rem;
        width: 100%;
        align-items: center;
        display: flex;

        .search-messages-bar-RCd {
          border-radius: 0.5rem;
          padding: 0.6rem 24.158rem 0.4rem 2.446rem;
          width: calc(100% - 1.3rem);
          display: flex;
          align-items: center;
          background-color: #f3f3f3;
          margin: 0rem 0rem 4.3rem 1.3rem;
          box-sizing: border-box;
          flex-shrink: 0;

          .vector-7bF {
            flex-shrink: 0;
            margin: 0rem 0.489rem 0.2rem 0rem;
            width: 1.8347rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .search--Evm {
            flex-shrink: 0;
            font-size: 1.603rem;
            font-weight: 400;
            line-height: 1.5;
            color: #c9c9c9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-pech-KxD {
          margin-right: 7.328rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .liked-5Ah {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.1rem;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2575;
            color: #000000;
            font-family: Baloo Tamma 2, 'Source Sans Pro';
          }
          .shared-zoT {
            margin-right: 9.6rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2575;
            color: #000000;
            font-family: Baloo Tamma 2, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .saved-jFF {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2575;
            color: #000000;
            font-family: Baloo Tamma 2, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
          }
        }
      }
      .message-sender-1-et1 {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        width: 100%;
        height: 4.5rem;

        .user-profile-picture-njK {
          border-radius: 2.5rem;
          margin: 0.3rem 2.202rem 0rem 0rem;
          width: 3.0579rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
          height: 2.5rem;
          background-color: #b1ccd9;
          background-position: center;
          flex-shrink: 0;
        }
        .auto-group-7zv7-sEy {
          margin-right: 3.2709rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .tell-us-about-yourself-pR7 {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
          }
          .content-description-ZNh {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 31.1rem;
            font-size: 1rem;
            font-weight: 400;
          }
        }
        .time-of-upload-giD {
          line-height: 1.5;
          color: #bebebe;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
        }
      }
      .message-sender-2-pJd {
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: flex-start;

        .user-profile-picture-9rh {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 2.5rem;
          flex-shrink: 0;
          margin: 0.3rem 2.202rem 0rem 0rem;
          width: 3.0579rem;
          height: 2.5rem;
          background-color: #b1ccd9;
          background-position: center;
          background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
        }
        .auto-group-mnwb-4Ts {
          margin-right: 3.2709rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .tell-us-about-yourself-byb {
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
          }
          .content-description-8yX {
            flex-shrink: 0;
            max-width: 31.1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .time-of-upload-sRK {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bebebe;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .message-sender-3-bcD {
        height: 4.5rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        width: 100%;

        .user-profile-picture-jTX {
          margin: 0.3rem 2.202rem 0rem 0rem;
          background-color: #b1ccd9;
          background-size: 100% 100%;
          background-position: center;
          flex-shrink: 0;
          width: 3.0579rem;
          height: 2.5rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
          border-radius: 2.5rem;
        }
        .auto-group-bgxb-E9P {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 3.2709rem;

          .tell-us-about-yourself-aj3 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
          .content-description-KwX {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 31.1rem;
          }
        }
        .time-of-upload-fVb {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bebebe;
        }
      }
      .message-sender-4-CVX {
        margin-bottom: 3.5rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .user-profile-picture-YZP {
          margin: 0.3rem 2.202rem 0rem 0rem;
          width: 3.0579rem;
          height: 2.5rem;
          background-color: #b1ccd9;
          background-size: 100% 100%;
          border-radius: 2.5rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
          flex-shrink: 0;
        }
        .auto-group-wxxu-TRT {
          margin-right: 3.2709rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .tell-us-about-yourself-Ctq {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 600;
          }
          .content-description-x7K {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 31.1rem;
            font-size: 1rem;
          }
        }
        .time-of-upload-gZ7 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bebebe;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .message-sender-5-1LV {
        margin-bottom: 3.5rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .user-profile-picture-YbK {
          background-position: center;
          background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
          border-radius: 2.5rem;
          margin: 0.3rem 2.202rem 0rem 0rem;
          width: 3.0579rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          flex-shrink: 0;
          height: 2.5rem;
          background-color: #b1ccd9;
        }
        .auto-group-zrhb-DxM {
          margin-right: 3.2709rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .tell-us-about-yourself-yAq {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
          .content-description-hsX {
            max-width: 31.1rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .time-of-upload-qiq {
          line-height: 1.5;
          color: #bebebe;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
        }
      }
      .message-sender-6-Nim {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .user-profile-picture-8C9 {
          flex-shrink: 0;
          background-position: center;
          width: 3.0579rem;
          height: 2.5rem;
          background-color: #b1ccd9;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:2ffb7fff5dfd3bc0f2ffc0679375c13d445fc5df');
          border-radius: 2.5rem;
          margin: 0.3rem 2.202rem 0rem 0rem;
        }
        .auto-group-xhw1-dPo {
          margin-right: 3.2709rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .tell-us-about-yourself-n1o {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .content-description-WyP {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 31.1rem;
          }
        }
        .time-of-upload-do7 {
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bebebe;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-ksm7-Mz1 {
    width: 100%;
    height: 8.5rem;
    position: relative;
    flex-shrink: 0;

    .start-odering-tU9 {
      font-size: 1.7rem;
      font-weight: 600;
      color: #f6f6f9;
      font-family: SF Pro Text, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      left: 15.95rem;
      top: 0;
      width: 9.6rem;
      text-align: center;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .navigation-bar-zGH {
      box-sizing: border-box;
      height: 6.9rem;
      left: 0;
      display: flex;
      background-color: #ffffff;
      padding: 1.9rem 7.006rem 0.8rem 6.531rem;
      width: 41.4rem;
      position: absolute;
      top: 1.6rem;
      align-items: center;
      box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);

      .home-64R {
        flex-shrink: 0;
        margin: 0rem 4.63rem 2.302rem 0rem;
        width: 2.0015rem;
        height: 1.8979rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-nvxb-ozR {
        flex-shrink: 0;
        margin-right: 4.5693rem;
        width: 15.1753rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-n4dp-9oP {
          margin-bottom: 1.499rem;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .vector-6id {
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 10.8709rem;
            width: 1.9858rem;
            height: 1.8708rem;
          }
          .direct-messages-puX {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.3185rem;
            height: 2.201rem;
            cursor: pointer;
          }
        }
        .home-indicator-ZcD {
          height: 0.5rem;
          background-color: #f2f2f2;
          border-radius: 10rem;
          flex-shrink: 0;
          margin: 0rem 0.526rem 0rem 0.425rem;
          width: calc(100% - 0.9507rem);
        }
      }
      .profile-sso {
        height: 1.8rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.2rem;
        width: 1.4862rem;
      }
    }
    .create-content-mTP {
      vertical-align: top;
      width: 1.4954rem;
      height: 1.35rem;
      position: absolute;
      left: 19.2rem;
      top: 3.7rem;
      object-fit: contain;
    }
  }
}
