
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-27-3rZ {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f8;
  border-radius: 2rem;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw {
  margin: 0rem 0rem 19.9rem 0.1rem;
  width: 44.2305rem;
  height: 61.1rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .navigation-bar-Ugy {
  box-sizing: border-box;
  padding: 3.965rem 13.062rem 1.67rem 13.163rem;
  width: 41.4rem;
  height: 14.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .navigation-bar-Ugy .auto-group-bqzd-nhf {
  width: 100%;
  height: 100%;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .navigation-bar-Ugy .auto-group-bqzd-nhf .auto-group-c9wo-9o7 {
  width: 100%;
  height: 4.5934rem;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .rectangle-319-U4h {
  width: 15rem;
  height: 4.2rem;
  position: absolute;
  left: 26.5rem;
  top: 10.4rem;
  background-color: rgba(183, 173, 173, 0.200000003);
  border-radius: 1rem;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .chevron-left-Ay7 {
  width: 0.6rem;
  height: 1.2rem;
  position: absolute;
  left: 4.4rem;
  top: 4.9rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .vector-JZX {
  width: 10.65rem;
  height: 11.8333rem;
  position: absolute;
  left: 15.275rem;
  top: 27.2917rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed {
  width: 42.6305rem;
  height: 57.3rem;
  position: absolute;
  left: 1.6rem;
  top: 3.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h {
  box-sizing: border-box;
  padding: 0rem 1.703rem 2.9rem 3.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h .search-messages-bar-eWu {
  margin: 0rem 0rem 4.3rem 1.3rem;
  box-sizing: border-box;
  padding: 0.6rem 24.158rem 0.4rem 2.446rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h .search-messages-bar-eWu .vector-8gy {
  margin: 0rem 0.489rem 0.2rem 0rem;
  width: 1.8347rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h .search-messages-bar-eWu .search--44q {
  font-size: 1.603rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c9c9c9;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h .auto-group-w8yq-MJq {
  margin-right: 6.528rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h .auto-group-w8yq-MJq .liked-JUy {
  margin-right: 9.1rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Baloo Tamma 2, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h .auto-group-w8yq-MJq .shared-Drq {
  margin-right: 8.8rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Baloo Tamma 2, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .auto-group-vqcm-w6h .auto-group-w8yq-MJq .saved-ZA1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Baloo Tamma 2, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-1-6Qq {
  margin-bottom: 3.5rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-1-6Qq .user-profile-picture-SDo {
  margin: 0.3rem 2.202rem 0rem 0rem;
  width: 3.0579rem;
  height: 2.5rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg-bCu.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-1-6Qq .auto-group-agu7-iSD {
  margin-right: 3.2709rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-1-6Qq .auto-group-agu7-iSD .tell-us-about-yourself-Teh {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-1-6Qq .auto-group-agu7-iSD .content-description-C6V {
  max-width: 31.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-1-6Qq .time-of-upload-7z9 {
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-2-G6M {
  margin-bottom: 3.5rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-2-G6M .user-profile-picture-QTT {
  margin: 0.3rem 2.202rem 0rem 0rem;
  width: 3.0579rem;
  height: 2.5rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg-uZT.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-2-G6M .auto-group-25cv-Uy7 {
  margin-right: 3.2709rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-2-G6M .auto-group-25cv-Uy7 .tell-us-about-yourself-pGH {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-2-G6M .auto-group-25cv-Uy7 .content-description-MX7 {
  max-width: 31.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-2-G6M .time-of-upload-5xu {
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-3-27T {
  margin-bottom: 3.5rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-3-27T .user-profile-picture-AUZ {
  margin: 0.3rem 2.202rem 0rem 0rem;
  width: 3.0579rem;
  height: 2.5rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg-i6m.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-3-27T .auto-group-1xav-4Zw {
  margin-right: 3.2709rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-3-27T .auto-group-1xav-4Zw .tell-us-about-yourself-pJD {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-3-27T .auto-group-1xav-4Zw .content-description-khf {
  max-width: 31.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-3-27T .time-of-upload-VQM {
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-4-EMw {
  margin-bottom: 3.5rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-4-EMw .user-profile-picture-Nj3 {
  margin: 0.3rem 2.202rem 0rem 0rem;
  width: 3.0579rem;
  height: 2.5rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg-saH.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-4-EMw .auto-group-xe3k-H5K {
  margin-right: 3.2709rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-4-EMw .auto-group-xe3k-H5K .tell-us-about-yourself-EWM {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-4-EMw .auto-group-xe3k-H5K .content-description-NsT {
  max-width: 31.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-4-EMw .time-of-upload-vPB {
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-5-GC9 {
  margin-bottom: 3.5rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-5-GC9 .user-profile-picture-c17 {
  margin: 0.3rem 2.202rem 0rem 0rem;
  width: 3.0579rem;
  height: 2.5rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg-GPj.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-5-GC9 .auto-group-e8uh-7Tf {
  margin-right: 3.2709rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-5-GC9 .auto-group-e8uh-7Tf .tell-us-about-yourself-4th {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-5-GC9 .auto-group-e8uh-7Tf .content-description-p7B {
  max-width: 31.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-5-GC9 .time-of-upload-Z4m {
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-6-HWZ {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-6-HWZ .user-profile-picture-q2H {
  margin: 0.3rem 2.202rem 0rem 0rem;
  width: 3.0579rem;
  height: 2.5rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg-VGD.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-6-HWZ .auto-group-koqk-8XB {
  margin-right: 3.2709rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-6-HWZ .auto-group-koqk-8XB .tell-us-about-yourself-5xD {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-6-HWZ .auto-group-koqk-8XB .content-description-diq {
  max-width: 31.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-takb-Ndw .direct-message-feed-2Ed .message-sender-6-HWZ .time-of-upload-Z6h {
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d {
  width: 100%;
  height: 8.5rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .start-odering-qpu {
  width: 9.6rem;
  height: 2.2rem;
  position: absolute;
  left: 15.95rem;
  top: 0;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #f6f6f9;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP {
  box-sizing: border-box;
  padding: 1.9rem 7.006rem 0.8rem 6.531rem;
  width: 41.4rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP .home-dkm {
  margin: 0rem 4.63rem 2.302rem 0rem;
  width: 2.0015rem;
  height: 1.8979rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP .auto-group-bbub-ZeR {
  margin-right: 4.5693rem;
  width: 15.1753rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP .auto-group-bbub-ZeR .auto-group-twiz-WZf {
  margin-bottom: 1.499rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP .auto-group-bbub-ZeR .auto-group-twiz-WZf .vector-Tjo {
  margin-right: 10.8709rem;
  width: 1.9858rem;
  height: 1.8708rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP .auto-group-bbub-ZeR .auto-group-twiz-WZf .direct-messages-CxH {
  width: 2.3185rem;
  height: 2.201rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP .auto-group-bbub-ZeR .home-indicator-M4V {
  margin: 0rem 0.526rem 0rem 0.425rem;
  width: calc(100% - 0.9507rem);
  height: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-27-3rZ .auto-group-sums-66d .navigation-bar-jfP .profile-4jb {
  margin-bottom: 2.2rem;
  width: 1.4862rem;
  height: 1.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
