
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-21-Lwj {
  width: 100%;
  height: 89.6rem;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f8;
  border-radius: 2rem;
}
.iphone-11-pro-max-21-Lwj .my-offers-U2M {
  width: 14rem;
  height: 5.1rem;
  position: absolute;
  left: 5rem;
  top: 12.4rem;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.17rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-21-Lwj .chevron-left-LqF {
  width: 0.6rem;
  height: 1.2rem;
  position: absolute;
  left: 5rem;
  top: 6.6rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-21-Lwj .ohh-snap-no-offers-yet-UAm {
  width: 31.9rem;
  height: 4.2rem;
  position: absolute;
  left: 4.75rem;
  top: 48.8rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.056rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-21-Lwj .bella-doset-have-any-offers-yet-please-check-again-A3b {
  width: 23.3rem;
  height: 5.1rem;
  position: absolute;
  left: 9.1rem;
  top: 53.8rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.iphone-11-pro-max-21-Lwj .iphone-13-pro-max-11-qQd {
  box-sizing: border-box;
  padding: 26.5rem 9.2rem 8.1rem 7.7rem;
  width: 42.2rem;
  height: 92.6rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #fcfcfc;
  border-radius: 2rem;
}
.iphone-11-pro-max-21-Lwj .iphone-13-pro-max-11-qQd .auto-group-82gz-jW1 {
  margin: 0rem 3rem 3.8rem 2rem;
  box-sizing: border-box;
  padding: 4.7rem 6.507rem 5.864rem 6.6rem;
  width: calc(100% - 5rem);
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .iphone-13-pro-max-11-qQd .auto-group-82gz-jW1 .vector-Rtd {
  width: 7.1934rem;
  height: 5.4362rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-21-Lwj .iphone-13-pro-max-11-qQd .payment-completed-A5X {
  margin: 0rem 0.9rem 1.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.048rem;
  color: #125258;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .iphone-13-pro-max-11-qQd .your-pakkage-will-arive-in-few-days-you-can-track-your-order-on-order-section-Fcm {
  margin-bottom: 28.5rem;
  max-width: 25.3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #455a64;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .iphone-13-pro-max-11-qQd .continue-shopping-jH3 {
  margin-left: 0.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm {
  box-sizing: border-box;
  padding: 1.9rem 7.006rem 0.8rem 6.531rem;
  width: 41.4rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 82.7rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .home-7oP {
  margin: 0rem 4.63rem 2.302rem 0rem;
  width: 2.0015rem;
  height: 1.8979rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .auto-group-r737-2vM {
  margin-right: 4.5693rem;
  width: 15.1753rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .auto-group-r737-2vM .auto-group-5sbb-NUR {
  margin-bottom: 1.499rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .auto-group-r737-2vM .auto-group-5sbb-NUR .vector-K8m {
  margin: 0rem 4.835rem 0.33rem 0rem;
  width: 1.9858rem;
  height: 1.8708rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .auto-group-r737-2vM .auto-group-5sbb-NUR .create-content-2os {
  margin: 0rem 4.603rem 0.201rem 0rem;
  width: 1.4331rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .auto-group-r737-2vM .auto-group-5sbb-NUR .direct-messages-YnD {
  width: 2.3185rem;
  height: 2.201rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .auto-group-r737-2vM .home-indicator-VSZ {
  margin: 0rem 0.526rem 0rem 0.425rem;
  width: calc(100% - 0.9507rem);
  height: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-21-Lwj .navigation-bar-RQm .profile-Pnq {
  margin-bottom: 2.2rem;
  width: 1.4862rem;
  height: 1.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
