
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-3-a9X {
  box-sizing: border-box;
  padding-top: 3.216rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 2rem;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T {
  margin: 0rem 17.81rem 1.987rem 14.853rem;
  width: calc(100% - 32.6628rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-LK3 {
  margin: 0rem 0.168rem 0.005rem 0rem;
  width: 1.0997rem;
  height: 1.1461rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-2Bs {
  margin: 0rem 0.136rem 0.013rem 0rem;
  width: 0.8897rem;
  height: 1.1862rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-x5X {
  margin-right: 0.1983rem;
  width: 0.9442rem;
  height: 0.9201rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-hJ1 {
  margin: 0rem 0.105rem 0.013rem 0rem;
  width: 0.5546rem;
  height: 0.9041rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-25P {
  margin: 0rem 0.107rem 0.013rem 0rem;
  width: 0.3254rem;
  height: 1.284rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-YpR {
  margin: 0rem 0.098rem 0.013rem 0rem;
  width: 0.5643rem;
  height: 1.1125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-ecZ {
  margin-right: 0.1983rem;
  width: 0.9442rem;
  height: 0.9201rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-mhB {
  margin-right: 0.1438rem;
  width: 0.9442rem;
  height: 1.199rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-7m3 {
  margin: 0rem 0.144rem 0.013rem 0rem;
  width: 0.2741rem;
  height: 1.1862rem;
  background-color: #000000;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .charitable-Z1T .vector-3Po {
  width: 0.8977rem;
  height: 0.9201rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 {
  margin-bottom: 0.7383rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .post-creator-1-Jad {
  margin: 0rem 18.774rem 1.038rem 1.053rem;
  width: calc(100% - 19.8275rem);
  height: 4.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .post-creator-1-Jad .profile-picture-onH {
  margin-right: 0.75rem;
  width: 4.6225rem;
  height: 4.5rem;
  background-color: #c3c3c3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/profile-picture-bg-XxV.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .post-creator-1-Jad .auto-group-kc73-toj {
  margin: 1.026rem 0rem 0.936rem 0rem;
  height: calc(100% - 1.9617rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .post-creator-1-Jad .auto-group-kc73-toj .full-name-ofo {
  margin-bottom: 0.0383rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .post-creator-1-Jad .auto-group-kc73-toj .tagged-location-TEZ {
  font-size: 0.618rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .content-Aem {
  width: 41.4rem;
  height: 25.2278rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 {
  box-sizing: border-box;
  padding: 1.026rem 1.264rem 0rem 1.053rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .auto-group-qrwr-SMP {
  margin-bottom: 1.6164rem;
  width: 39.0824rem;
  height: 2.0755rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu {
  margin: 0rem 1.156rem 0rem 0.527rem;
  width: calc(100% - 1.6824rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .content-description-h2R {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .content-description-h2R .content-description-h2R-sub-0 {
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .content-description-h2R .content-description-h2R-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .auto-group-4wav-qwF {
  box-sizing: border-box;
  padding-top: 2.6021rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .auto-group-4wav-qwF .user-comment-input-field-yXf {
  margin: 0rem 25.813rem 0.513rem 0rem;
  width: calc(100% - 25.813rem);
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .auto-group-4wav-qwF .user-comment-input-field-yXf .user-profile-picture-e1X {
  margin-right: 1.0534rem;
  width: 2.6336rem;
  height: 2.5638rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .auto-group-4wav-qwF .user-comment-input-field-yXf .add-comment-field-GHo {
  margin-bottom: 0.0383rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .post-4-z49 .auto-group-1std-7K7 .content-footer-Zgu .auto-group-4wav-qwF .time-of-upload-yCD {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq {
  width: 41.5rem;
  height: 46.6712rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH {
  width: 41.4rem;
  height: 46.6712rem;
  position: absolute;
  left: 0;
  top: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .post-creator-1-9W1 {
  margin: 0rem 18.774rem 1.099rem 1.053rem;
  width: calc(100% - 19.8275rem);
  height: 4.7647rem;
  display: flex;
  align-items: center;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .post-creator-1-9W1 .profile-picture-TWh {
  margin-right: 0.75rem;
  width: 4.6225rem;
  height: 4.7647rem;
  background-color: #c3c3c3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/profile-picture-bg.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .post-creator-1-9W1 .auto-group-8ykf-kVo {
  margin: 1.086rem 0rem 1.05rem 0rem;
  height: calc(100% - 2.1359rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .post-creator-1-9W1 .auto-group-8ykf-kVo .full-name-EA5 {
  margin-bottom: 0.1288rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .post-creator-1-9W1 .auto-group-8ykf-kVo .tagged-location-YwT {
  font-size: 0.618rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .content-5wP {
  width: 41.4rem;
  height: 26.7118rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 {
  box-sizing: border-box;
  padding: 1.086rem 1.264rem 0rem 1.053rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .auto-group-tgg1-vSD {
  margin-bottom: 1.7115rem;
  width: 39.0824rem;
  height: 2.1976rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs {
  margin: 0rem 1.156rem 0rem 0.527rem;
  width: calc(100% - 1.6824rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .content-description-aWm {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .content-description-aWm .content-description-aWm-sub-0 {
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .content-description-aWm .content-description-aWm-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .auto-group-z793-qLD {
  box-sizing: border-box;
  padding-top: 2.8434rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .auto-group-z793-qLD .user-comment-input-field-aHo {
  margin: 0rem 25.813rem 0.543rem 0rem;
  width: calc(100% - 25.813rem);
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .auto-group-z793-qLD .user-comment-input-field-aHo .user-profile-picture-hdK {
  margin-right: 1.0534rem;
  width: 2.6336rem;
  height: 2.7146rem;
  background-color: #b1ccd9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-profile-picture-bg-rJu.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .auto-group-z793-qLD .user-comment-input-field-aHo .add-comment-field-zcR {
  margin-bottom: 0.1288rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .post-3-2gH .auto-group-pwf3-di1 .content-footer-rKs .auto-group-z793-qLD .time-of-upload-i2d {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #bebebe;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko {
  box-sizing: border-box;
  padding: 1.9rem 7.006rem 0.8rem 6.531rem;
  width: 41.4rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 31.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko .home-eqP {
  margin: 0rem 4.63rem 2.302rem 0rem;
  width: 2.0015rem;
  height: 1.8979rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko .auto-group-tduu-y6y {
  margin-right: 4.5693rem;
  width: 15.1753rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko .auto-group-tduu-y6y .auto-group-hyxb-Vb7 {
  margin-bottom: 1.499rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko .auto-group-tduu-y6y .auto-group-hyxb-Vb7 .vector-dhK {
  margin-right: 10.8709rem;
  width: 1.9858rem;
  height: 1.8708rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko .auto-group-tduu-y6y .auto-group-hyxb-Vb7 .direct-messages-NQ1 {
  width: 2.3185rem;
  height: 2.201rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko .auto-group-tduu-y6y .home-indicator-WFK {
  margin: 0rem 0.526rem 0rem 0.425rem;
  width: calc(100% - 0.9507rem);
  height: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .navigation-bar-3Ko .profile-aW5 {
  margin-bottom: 2.2rem;
  width: 1.4862rem;
  height: 1.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-3-a9X .auto-group-spdo-6Gq .create-content-Az5 {
  width: 1.4954rem;
  height: 1.35rem;
  position: absolute;
  left: 19.2rem;
  top: 33.9rem;
  object-fit: contain;
  vertical-align: top;
}
