
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-23-syB {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 2rem;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu {
  margin-right: 0.1rem;
  width: 41.5rem;
  height: 81rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .line-5-Lrm {
  width: 13.2rem;
  height: 0.03rem;
  position: absolute;
  left: 7.4rem;
  top: 21.3rem;
  background-color: #f4f4f8;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .line-6-UTB {
  width: 13.2rem;
  height: 0.03rem;
  position: absolute;
  left: 7.4rem;
  top: 29.1rem;
  background-color: #f4f4f8;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .line-7-c3b {
  width: 13.2rem;
  height: 0.03rem;
  position: absolute;
  left: 7.4rem;
  top: 36.9rem;
  background-color: #f4f4f8;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .line-8-wrZ {
  width: 13.2rem;
  height: 0.03rem;
  position: absolute;
  left: 7.4rem;
  top: 44.7rem;
  background-color: #f4f4f8;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .rectangle-7-VNH {
  width: 41.5rem;
  height: 81rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f9f9f9;
  border-radius: 3rem;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .my-profile-27K {
  width: 14.6rem;
  height: 4.3rem;
  position: absolute;
  left: 2.3rem;
  top: 4.7rem;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #000000;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .rectangle-40-K6R {
  width: 37rem;
  height: 5.4rem;
  position: absolute;
  left: 1.3rem;
  top: 21.3rem;
  background-color: rgba(133, 132, 132, 0.25);
  border-radius: 1rem;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .rectangle-71-crD {
  width: 37rem;
  height: 5.4rem;
  position: absolute;
  left: 1.3rem;
  top: 54.2rem;
  background-color: rgba(133, 132, 132, 0.25);
  border-radius: 1rem;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .my-name-name-of-organisation-wdb {
  width: 20.6rem;
  height: 1.6rem;
  position: absolute;
  left: 1.4rem;
  top: 19.1rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .country-of-residence-pxH {
  width: 13.8rem;
  height: 1.6rem;
  position: absolute;
  left: 1.3rem;
  top: 30.4rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .rectangle-69-8CH {
  width: 37rem;
  height: 5.4rem;
  position: absolute;
  left: 1.3rem;
  top: 32.6rem;
  background-color: rgba(133, 132, 132, 0.25);
  border-radius: 1rem;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .phone-number-qcV {
  width: 9.5rem;
  height: 1.6rem;
  position: absolute;
  left: 1.4rem;
  top: 40.9rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .rectangle-70-Ymo {
  width: 37rem;
  height: 5.4rem;
  position: absolute;
  left: 1.3rem;
  top: 43.8rem;
  background-color: rgba(133, 132, 132, 0.25);
  border-radius: 1rem;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .search-5Fw {
  width: 5.6rem;
  height: 2.1rem;
  position: absolute;
  left: 16.7rem;
  top: 74.3rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fff6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .email-address-ys7 {
  width: 9.1rem;
  height: 1.6rem;
  position: absolute;
  left: 1.3rem;
  top: 52rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-23-syB .auto-group-bknh-RUu .group-61-V4m {
  width: 31.4rem;
  height: 7rem;
  position: absolute;
  left: 4.8rem;
  top: 72.5rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #f6f6f9;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa4a0c;
  border-radius: 3rem;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh {
  width: 43.2rem;
  height: 8.6rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT {
  box-sizing: border-box;
  padding: 1.9rem 7.311rem 0.8rem 6.815rem;
  width: 43.2rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .home-ye9 {
  margin: 0rem 4.832rem 2.302rem 0rem;
  width: 2.0885rem;
  height: 1.8979rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .auto-group-yn9o-6Ts {
  margin-right: 4.768rem;
  width: 15.8351rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .auto-group-yn9o-6Ts .auto-group-xkqd-cx1 {
  margin-bottom: 1.499rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .auto-group-yn9o-6Ts .auto-group-xkqd-cx1 .vector-ACq {
  margin: 0rem 5.045rem 0.33rem 0rem;
  width: 2.0722rem;
  height: 1.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .auto-group-yn9o-6Ts .auto-group-xkqd-cx1 .create-content-t8q {
  margin: 0rem 4.803rem 0.201rem 0rem;
  width: 1.4954rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .auto-group-yn9o-6Ts .auto-group-xkqd-cx1 .direct-messages-CQR {
  width: 2.4193rem;
  height: 2.201rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .auto-group-yn9o-6Ts .home-indicator-JyF {
  margin: 0rem 0.549rem 0rem 0.443rem;
  width: calc(100% - 0.992rem);
  height: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .navigation-bar-6KT .profile-1cm {
  margin-bottom: 2.2rem;
  width: 1.5508rem;
  height: 1.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-23-syB .auto-group-tghf-jzh .updatet-7fo {
  width: 6rem;
  height: 2.2rem;
  position: absolute;
  left: 17.6rem;
  top: 0;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #f6f6f9;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
