
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-4-UCZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f9;
  border-radius: 2rem;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF {
  box-sizing: border-box;
  padding-bottom: 0.6813rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .heart-YCR {
  margin: 0rem 6rem 8.156rem 0rem;
  width: 1.7419rem;
  height: 1.5193rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .auto-group-jpnv-4Am {
  margin: 0rem 2.9rem 0.525rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .auto-group-jpnv-4Am .union-aeu {
  margin: 0rem 19.405rem 2.2rem 0rem;
  width: 1.4954rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .auto-group-jpnv-4Am .create-content-793 {
  margin-right: 13.9523rem;
  width: 1.4954rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .auto-group-jpnv-4Am .group-7-FW9 {
  margin-bottom: 0.275rem;
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 {
  margin: 0rem 0.736rem 2.348rem 0.7rem;
  box-sizing: border-box;
  padding: 1.747rem 2.511rem 1.747rem 1.747rem;
  width: calc(100% - 1.4365rem);
  height: 26.7515rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1092rem #f7f7f7;
  box-shadow: 0 0.8735rem 0.8735rem rgba(24, 39, 75, 0.0799999982), 0 0.4368rem 0.6551rem rgba(24, 39, 75, 0.1199999973);
  background-color: #ffffff;
  border-radius: 3.4941rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch {
  margin-right: 6.3177rem;
  width: 27.3919rem;
  height: 18.6417rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 {
  width: 24.4649rem;
  height: 17.9233rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .people-wXP {
  margin-right: 1.8562rem;
  width: 9.6087rem;
  height: 100%;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .people-wXP .places-Voo {
  margin-bottom: 3.0735rem;
  box-sizing: border-box;
  padding: 0.437rem 0.437rem 0.437rem 0.437rem;
  width: 100%;
  height: 14.8498rem;
  box-shadow: 0 0.8735rem 0.8735rem rgba(24, 39, 75, 0.0799999982), 0 0.4368rem 0.6551rem rgba(24, 39, 75, 0.1199999973);
  background-color: #ffffff;
  border-radius: 9.6087rem;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .people-wXP .places-Voo .place-image-df7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 17.4704rem;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .people-wXP .places-Voo .place-image-df7 .places-nature02-aqF {
  width: 8.7162rem;
  height: 12.8162rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .frame-2810-dHj {
  margin: 1.987rem 0rem 5.061rem 0rem;
  height: calc(100% - 7.0477rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .frame-2810-dHj .united-nations-k7T {
  margin-bottom: 0.8735rem;
  font-size: 1.747rem;
  font-weight: 500;
  line-height: 1.5000000546;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .frame-2810-dHj .frame-2809-4P3 {
  width: 6.2206rem;
  height: 7.3022rem;
  position: relative;
  background-color: #fff8e8;
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .frame-2810-dHj .frame-2809-4P3 .item-9-D13 {
  width: 1.2rem;
  height: 2.7rem;
  position: absolute;
  left: 2.5103rem;
  top: 1.3103rem;
  font-size: 1.747rem;
  font-weight: 500;
  line-height: 1.5000000546;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .frame-2811-zs3 .frame-2810-dHj .frame-2809-4P3 .posts-JoB {
  width: 3.6rem;
  height: 2.2rem;
  position: absolute;
  left: 1.3103rem;
  top: 3.7919rem;
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .frame-3292-4Ch .lists-of-un-recent-work-and-events-Cdf {
  width: 26.3rem;
  height: 2.7rem;
  position: absolute;
  left: 1.0919rem;
  top: 15.9417rem;
  font-size: 1.5287rem;
  font-weight: 400;
  line-height: 1.7142856965;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-nW5 .edit-haR {
  margin-top: 1.4195rem;
  width: 1.9956rem;
  height: 1.9927rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF {
  margin: 0rem 0.736rem 1.616rem 0.7rem;
  width: calc(100% - 1.4365rem);
  height: 4.8838rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2841-HoX {
  margin-right: 7.4635rem;
  box-sizing: border-box;
  padding: 1.092rem 1.381rem 1.092rem 1.381rem;
  width: 16.3rem;
  height: 100%;
  background: linear-gradient(136deg, #fa4a0c 85.35%, #eea849 85.36%);
  border-radius: 5.4595rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2841-HoX .frame-3293-pHf {
  box-sizing: border-box;
  padding-left: 0.1228rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2841-HoX .frame-3293-pHf .carbon-user-follow-N4H {
  margin: 0rem 0.874rem 0rem 0rem;
  width: 1.8426rem;
  height: 1.7197rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2841-HoX .frame-3293-pHf .follow-posts-Hww {
  font-size: 1.747rem;
  font-weight: 500;
  line-height: 1.5000000546;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2840-kad {
  box-sizing: border-box;
  padding: 1.092rem 3.481rem 1.092rem 3.481rem;
  width: 16.2rem;
  height: 100%;
  cursor: pointer;
  background: linear-gradient(136deg, #fa4a0c 85.35%, #fa4a0c 85.35%, #eea849 85.36%);
  border-radius: 5.4595rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2840-kad .frame-3294-gDP {
  box-sizing: border-box;
  padding-left: 0.1228rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2840-kad .frame-3294-gDP .ant-design-message-outlined-dPX {
  margin: 0rem 0.996rem 0rem 0rem;
  width: 1.7198rem;
  height: 1.7197rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3291-xmF .frame-2840-kad .frame-3294-gDP .donate-9sf {
  font-size: 1.747rem;
  font-weight: 500;
  line-height: 1.5000000546;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f {
  margin: 0rem 0.936rem 0rem 0.5rem;
  width: calc(100% - 1.4365rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh {
  margin-bottom: 1.3103rem;
  width: 100%;
  height: 12.666rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ {
  margin-right: 0.9827rem;
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2815-bg-DDs.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ .frame-2818-sBP {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ .frame-2818-sBP .frame-2816-oKw {
  margin: 0rem 0.983rem 0rem 0rem;
  width: 2.9103rem;
  height: calc(100% - 0rem);
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ .frame-2818-sBP .frame-2816-oKw .bolt-Lam {
  width: 1.3103rem;
  height: 1.3103rem;
  position: absolute;
  left: 0;
  top: 0.4449rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ .frame-2818-sBP .frame-2816-oKw .item-22-fsw {
  width: 1.6rem;
  height: 2.2rem;
  position: absolute;
  left: 1.3103rem;
  top: 0;
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ .frame-2818-sBP .frame-2817-aED {
  margin-bottom: 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ .frame-2818-sBP .frame-2817-aED .visibility-7zq {
  margin: 0rem 0.437rem 0rem 0rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2815-KvZ .frame-2818-sBP .frame-2817-aED .item-22-SnD {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R {
  margin-right: 0.9827rem;
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2816-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R .frame-2818-2VX {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R .frame-2818-2VX .frame-2816-mCD {
  margin: 0rem 0.983rem 0rem 0rem;
  width: 2.9103rem;
  height: calc(100% - 0rem);
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R .frame-2818-2VX .frame-2816-mCD .bolt-tnd {
  width: 1.3103rem;
  height: 1.3103rem;
  position: absolute;
  left: 0;
  top: 0.4449rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R .frame-2818-2VX .frame-2816-mCD .item-22-qSy {
  width: 1.6rem;
  height: 2.2rem;
  position: absolute;
  left: 1.3103rem;
  top: 0;
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R .frame-2818-2VX .frame-2817-kZw {
  margin-bottom: 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R .frame-2818-2VX .frame-2817-kZw .visibility-JrM {
  margin: 0rem 0.437rem 0rem 0rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2816-t8R .frame-2818-2VX .frame-2817-kZw .item-22-Ek1 {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR {
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2817-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR .frame-2818-3Bf {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR .frame-2818-3Bf .frame-2816-NUq {
  margin: 0rem 0.983rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR .frame-2818-3Bf .frame-2816-NUq .bolt-JtH {
  margin: 0rem 0rem 0rem 0rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR .frame-2818-3Bf .frame-2816-NUq .item-22-DEZ {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR .frame-2818-3Bf .frame-2817-9P7 {
  margin-bottom: 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR .frame-2818-3Bf .frame-2817-9P7 .visibility-tLh {
  margin: 0rem 0.437rem 0rem 0rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3282-yrh .frame-2817-6GR .frame-2818-3Bf .frame-2817-9P7 .item-22-R5j {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT {
  margin-bottom: 1.3103rem;
  width: 100%;
  height: 12.666rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 {
  margin: 0rem 0.983rem 0rem 0rem;
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: calc(100% - 0rem);
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2818-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 .frame-2818-vwb {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 .frame-2818-vwb .frame-2816-fuB {
  margin-right: 0.9827rem;
  width: 2.9103rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 .frame-2818-vwb .frame-2816-fuB .bolt-1y3 {
  width: 1.3103rem;
  height: 1.3103rem;
  position: absolute;
  left: 0;
  top: 0.4449rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 .frame-2818-vwb .frame-2816-fuB .item-22-kvd {
  width: 1.6rem;
  height: 2.2rem;
  position: absolute;
  left: 1.3103rem;
  top: 0;
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 .frame-2818-vwb .frame-2817-4gR {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 .frame-2818-vwb .frame-2817-4gR .visibility-dDj {
  margin-right: 0.4368rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2818-oc5 .frame-2818-vwb .frame-2817-4gR .item-22-mqj {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR {
  margin: 0rem 0.983rem 0rem 0rem;
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: calc(100% - 0rem);
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2819-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR .frame-2818-mDT {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR .frame-2818-mDT .frame-2816-uKf {
  margin-right: 0.9827rem;
  width: 2.9103rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR .frame-2818-mDT .frame-2816-uKf .bolt-f3w {
  width: 1.3103rem;
  height: 1.3103rem;
  position: absolute;
  left: 0;
  top: 0.4449rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR .frame-2818-mDT .frame-2816-uKf .item-22-17o {
  width: 1.6rem;
  height: 2.2rem;
  position: absolute;
  left: 1.3103rem;
  top: 0;
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR .frame-2818-mDT .frame-2817-i2D {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR .frame-2818-mDT .frame-2817-i2D .visibility-GZX {
  margin-right: 0.4368rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2819-EUR .frame-2818-mDT .frame-2817-i2D .item-22-Qvd {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T {
  margin-bottom: 0rem;
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: calc(100% - 0rem);
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2820-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T .frame-2818-pUZ {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T .frame-2818-pUZ .frame-2816-9mj {
  margin-right: 0.9827rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T .frame-2818-pUZ .frame-2816-9mj .bolt-tUR {
  margin-right: 0rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T .frame-2818-pUZ .frame-2816-9mj .item-22-c9X {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T .frame-2818-pUZ .frame-2817-1hT {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T .frame-2818-pUZ .frame-2817-1hT .visibility-y8V {
  margin-right: 0.4368rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3283-FqT .frame-2820-g7T .frame-2818-pUZ .frame-2817-1hT .item-22-JwT {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo {
  width: 100%;
  height: 12.666rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 {
  margin-right: 0.9827rem;
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2821-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 .frame-2818-2ky {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 .frame-2818-2ky .frame-2816-AcH {
  margin-right: 0.9827rem;
  width: 2.9103rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 .frame-2818-2ky .frame-2816-AcH .bolt-upm {
  width: 1.3103rem;
  height: 1.3103rem;
  position: absolute;
  left: 0;
  top: 0.4449rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 .frame-2818-2ky .frame-2816-AcH .item-22-3vy {
  width: 1.6rem;
  height: 2.2rem;
  position: absolute;
  left: 1.3103rem;
  top: 0;
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 .frame-2818-2ky .frame-2817-NCZ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 .frame-2818-2ky .frame-2817-NCZ .visibility-KtV {
  margin-right: 0.4368rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2821-Vm3 .frame-2818-2ky .frame-2817-NCZ .item-22-Goj {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh {
  margin-right: 0.9827rem;
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2822w-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh .frame-2818-HD3 {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh .frame-2818-HD3 .frame-2816-1Pw {
  margin-right: 0.9827rem;
  width: 2.9103rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh .frame-2818-HD3 .frame-2816-1Pw .bolt-xKB {
  width: 1.3103rem;
  height: 1.3103rem;
  position: absolute;
  left: 0;
  top: 0.4449rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh .frame-2818-HD3 .frame-2816-1Pw .item-22-uER {
  width: 1.6rem;
  height: 2.2rem;
  position: absolute;
  left: 1.3103rem;
  top: 0;
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh .frame-2818-HD3 .frame-2817-p6V {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh .frame-2818-HD3 .frame-2817-p6V .visibility-aLZ {
  margin-right: 0.4368rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2822w-LYh .frame-2818-HD3 .frame-2817-p6V .item-22-Wk1 {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o {
  box-sizing: border-box;
  padding-top: 9.8109rem;
  width: 12.666rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2823-bg.png');
  border-radius: 2.1838rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o .frame-2818-hpV {
  box-sizing: border-box;
  padding: 0.328rem 4.116rem 0.328rem 1.31rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o .frame-2818-hpV .frame-2816-qQu {
  margin-right: 0.9827rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o .frame-2818-hpV .frame-2816-qQu .bolt-PBX {
  margin-right: 0rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o .frame-2818-hpV .frame-2816-qQu .item-22-vx9 {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o .frame-2818-hpV .frame-2817-rqo {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o .frame-2818-hpV .frame-2817-rqo .visibility-CPs {
  margin-right: 0.4368rem;
  width: 1.3103rem;
  height: 1.3103rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-wbop-CuF .frame-3285-T7f .frame-3284-Yqo .frame-2823-y7o .frame-2818-hpV .frame-2817-rqo .item-22-Xww {
  font-size: 1.3103rem;
  font-weight: 500;
  line-height: 1.6666666424;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK {
  width: 100%;
  height: 8.9rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .add-to-cart-7v9 {
  width: 8rem;
  height: 2.2rem;
  position: absolute;
  left: 16rem;
  top: 0;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #f6f6f9;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru {
  box-sizing: border-box;
  padding: 1.9rem 7.311rem 0.8rem 6.815rem;
  width: 43.2rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .home-i9F {
  margin: 0rem 4.832rem 2.302rem 0rem;
  width: 2.0885rem;
  height: 1.8979rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .auto-group-v9ih-2vd {
  margin-right: 4.768rem;
  width: 15.8351rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .auto-group-v9ih-2vd .auto-group-q5m3-AX3 {
  margin-bottom: 1.499rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .auto-group-v9ih-2vd .auto-group-q5m3-AX3 .vector-Jt9 {
  margin: 0rem 5.045rem 0.33rem 0rem;
  width: 2.0722rem;
  height: 1.8708rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .auto-group-v9ih-2vd .auto-group-q5m3-AX3 .create-content-d9j {
  margin: 0rem 4.803rem 0.201rem 0rem;
  width: 1.4954rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .auto-group-v9ih-2vd .auto-group-q5m3-AX3 .direct-messages-985 {
  width: 2.4193rem;
  height: 2.201rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .auto-group-v9ih-2vd .home-indicator-HVB {
  margin: 0rem 0.549rem 0rem 0.443rem;
  width: calc(100% - 0.992rem);
  height: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-4-UCZ .auto-group-v7fo-afK .navigation-bar-cru .profile-oCd {
  margin-bottom: 2.2rem;
  width: 1.5508rem;
  height: 1.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
