
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-25-GzM {
  width: 100%;
  height: 89.6rem;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f8;
  border-radius: 2rem;
}
.iphone-11-pro-max-25-GzM .updatet-yNy {
  width: 6rem;
  height: 2.2rem;
  position: absolute;
  left: 17.7rem;
  top: 81rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #f6f6f9;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB {
  width: 43.3rem;
  height: 89.6rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM {
  margin-bottom: 0.9rem;
  width: 39.3rem;
  height: 4.9rem;
  position: relative;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs {
  box-sizing: border-box;
  padding: 1.3rem 3.265rem 1.2rem 4.85rem;
  width: 39.3rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .time-8Ho {
  margin-right: 21.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2575;
  letter-spacing: -0.0165rem;
  color: #000000;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .mobile-signal-dEZ {
  margin: 0rem 0.469rem 0.346rem 0rem;
  width: 1.7308rem;
  height: 1.1538rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .wifi-Xaq {
  margin: 0rem 0.465rem 0.362rem 0rem;
  width: 1.6346rem;
  height: 1.1379rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .battery-qrR {
  margin: 0.2rem 0rem 0.4rem 0rem;
  height: calc(100% - 0.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .battery-qrR .auto-group-mvjb-Mpm {
  margin-right: 0.1rem;
  width: 2.2rem;
  height: 100%;
  position: relative;
  background-color: #b2b2b2;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .battery-qrR .auto-group-mvjb-Mpm .rectangle-1-uLV {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
  border-radius: 0.4rem 0 0 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .battery-qrR .auto-group-mvjb-Mpm .percentage-cVo {
  width: 1.1rem;
  height: 1.3rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.006rem;
  color: #ffffff;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .status-bar-light-Sfs .battery-qrR .battery-end-G4Z {
  margin-top: 0.0673rem;
  width: 0.1347rem;
  height: 0.4058rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-grdx-KLM .find-your-cause-a5F {
  width: 6.6rem;
  height: 1.2rem;
  position: absolute;
  left: 18.5rem;
  top: 3.7rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #2f2e2e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF {
  width: 43.2rem;
  height: 83.8rem;
  position: relative;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 {
  width: 39.3rem;
  height: 76.9626rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j {
  margin-bottom: 2.7862rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .filter-dBw {
  margin: 0rem 0rem 4.046rem 0rem;
  width: calc(100% - 0rem);
  height: 0.1rem;
  border-top: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP {
  margin-bottom: 0.8181rem;
  width: 100%;
  height: 10.4491rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .rectangle-2-esj {
  width: 39.3rem;
  height: 10.3658rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--A5P {
  box-sizing: border-box;
  padding: 1rem 0.558rem 0.284rem 0.649rem;
  width: 4.2074rem;
  height: 2.8844rem;
  position: absolute;
  left: 32.2664rem;
  top: 3.803rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 {
  width: 30.3428rem;
  height: 8.6463rem;
  position: absolute;
  left: 1.3614rem;
  top: 1.8028rem;
  display: flex;
  align-items: flex-start;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .group-FW9 {
  margin: 0.18rem 0.912rem 0rem 0rem;
  width: 3.6305rem;
  height: 5.32rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .group-FW9 .rectangle-22-ZWq {
  width: 3.4846rem;
  height: 4.8674rem;
  position: absolute;
  left: 0.0256rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.7rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .group-FW9 .frame-2815-4iV {
  box-sizing: border-box;
  padding-top: 3.3346rem;
  width: 3.6305rem;
  height: 5.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.02rem;
  overflow: hidden;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2815-bg-J5o.png');
  border-radius: 2.1838rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .group-FW9 .frame-2815-4iV .frame-2818-mcu {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .auto-group-hckr-RhT {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .auto-group-hckr-RhT .auto-group-3ag9-aKT {
  margin-bottom: 0.5732rem;
  width: 8.8rem;
  height: 3.5732rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .auto-group-hckr-RhT .auto-group-3ag9-aKT .ux-ui-designer-Hjf {
  width: 8.8rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .auto-group-hckr-RhT .auto-group-3ag9-aKT .upwork-zty {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .auto-group-hckr-RhT .auto-group-3ag9-aKT .remote-only-hoP {
  width: 5.1rem;
  height: 1.5rem;
  position: absolute;
  left: 3.162rem;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--iDP .item--Xa9 .auto-group-hckr-RhT .on-upwork-youll-find-a-range-of-top-freelancers-and-agencies-from-developers-and-development-agencies-to-designers-and-creative-agencies-copywriters-Pw7 {
  max-width: 25.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV {
  margin-bottom: 0.7004rem;
  width: 100%;
  height: 10.4491rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .rectangle-2-AqP {
  width: 39.3rem;
  height: 10.3658rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--1r1 {
  box-sizing: border-box;
  padding: 0.992rem 0.627rem 0.293rem 0.581rem;
  width: 4.2074rem;
  height: 2.8844rem;
  position: absolute;
  left: 32.2664rem;
  top: 3.8358rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau {
  width: 31.5899rem;
  height: 8.6463rem;
  position: absolute;
  left: 1.3614rem;
  top: 1.8028rem;
  display: flex;
  align-items: flex-start;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .group-jfX {
  margin: 0.18rem 1.059rem 0rem 0rem;
  width: 3.6305rem;
  height: 5.3528rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .group-jfX .rectangle-22-G9f {
  width: 3.5981rem;
  height: 4.8674rem;
  position: absolute;
  left: 0.0256rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.7rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .group-jfX .frame-2815-BnR {
  box-sizing: border-box;
  padding-top: 3.3346rem;
  width: 3.6305rem;
  height: 5.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.0528rem;
  overflow: hidden;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2815-bg-8eD.png');
  border-radius: 2.1838rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .group-jfX .frame-2815-BnR .frame-2818-uiR {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .auto-group-q7m3-PNh {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .auto-group-q7m3-PNh .auto-group-pfsf-Xjo {
  margin-bottom: 0.5732rem;
  width: 10rem;
  height: 3.5732rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .auto-group-q7m3-PNh .auto-group-pfsf-Xjo .product-designer-fLD {
  width: 10rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .auto-group-q7m3-PNh .auto-group-pfsf-Xjo .facebook-P1K {
  width: 4.1rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .auto-group-q7m3-PNh .auto-group-pfsf-Xjo .ca-usa-J8H {
  width: 3.2rem;
  height: 1.5rem;
  position: absolute;
  left: 3.9313rem;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--SeV .item--cau .auto-group-q7m3-PNh .founded-in-2004-facebooks-mission-is-to-give-people-the-power-to-build-community-and-bring-the-world-closer-together-people-use-our-products-to-stay-zmo {
  max-width: 26.9rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs {
  margin-bottom: 0.8181rem;
  width: 37.5755rem;
  height: 10.5668rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .rectangle-2-bmb {
  width: 37.5755rem;
  height: 10.486rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--v3B {
  width: 4.2074rem;
  height: 2.8844rem;
  position: absolute;
  left: 32.2664rem;
  top: 3.8863rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch {
  width: 30.8899rem;
  height: 8.6463rem;
  position: absolute;
  left: 1.3614rem;
  top: 1.9205rem;
  display: flex;
  align-items: flex-start;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .group-scd {
  margin: 0.166rem 1.059rem 0rem 0rem;
  width: 3.6305rem;
  height: 5.3rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .group-scd .rectangle-22-1D3 {
  width: 3.5981rem;
  height: 4.8674rem;
  position: absolute;
  left: 0.0256rem;
  top: 0.0144rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.7rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .group-scd .frame-2815-V8D {
  box-sizing: border-box;
  padding-top: 3.3346rem;
  width: 3.6305rem;
  height: 5.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2815-bg-jhj.png');
  border-radius: 2.1838rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .group-scd .frame-2815-V8D .frame-2818-1MT {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .auto-group-zibb-5s7 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .auto-group-zibb-5s7 .auto-group-s3z9-EED {
  margin-bottom: 0.5732rem;
  width: 12.7rem;
  height: 3.5732rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .auto-group-zibb-5s7 .auto-group-s3z9-EED .part-time-ux-designer-Mpd {
  width: 12.7rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .auto-group-zibb-5s7 .auto-group-s3z9-EED .google-Fv1 {
  width: 3rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .auto-group-zibb-5s7 .auto-group-s3z9-EED .international-B2y {
  width: 5.3rem;
  height: 1.5rem;
  position: absolute;
  left: 3.0651rem;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--4Fs .item--Lch .auto-group-zibb-5s7 .search-the-worlds-information-including-webpages-images-videos-and-more-google-has-many-special-features-to-help-you-find-exactly-what-youre-looking-UXs {
  max-width: 26.2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo {
  width: 100%;
  height: 10.3658rem;
  position: relative;
  box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--5Xf {
  box-sizing: border-box;
  padding: 0.992rem 0.627rem 0.293rem 0.581rem;
  width: 4.2074rem;
  height: 2.8844rem;
  position: absolute;
  left: 32.0906rem;
  top: 3.8014rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w {
  width: 30.8561rem;
  height: 7.1463rem;
  position: absolute;
  left: 1.3614rem;
  top: 1.8027rem;
  display: flex;
  align-items: flex-start;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .group-zY9 {
  margin: 0.18rem 0.926rem 0rem 0rem;
  width: 3.6305rem;
  height: 5.3184rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .group-zY9 .rectangle-22-Vzh {
  width: 3.495rem;
  height: 4.8674rem;
  position: relative;
  left: 0.0256rem;
  top: 0;
  background-size: 113.902% 113.902%;
  background-position: -0.2631rem -0.4086rem;
  background-image: url('../assets/rectangle-22-4UZ.png');
  border-radius: 2.7rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .group-zY9 .frame-2815-N2u {
  box-sizing: border-box;
  padding-top: 3.3346rem;
  width: 3.6305rem;
  height: 5.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.0184rem;
  overflow: hidden;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2815-bg-PjF.png');
  border-radius: 2.1838rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .group-zY9 .frame-2815-N2u .frame-2818-t1F {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .auto-group-w1zb-XK7 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .auto-group-w1zb-XK7 .auto-group-sxuq-4K3 {
  margin-bottom: 0.5732rem;
  width: 8rem;
  height: 3.5732rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .auto-group-w1zb-XK7 .auto-group-sxuq-4K3 .web-designer-ziV {
  width: 8rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .auto-group-w1zb-XK7 .auto-group-sxuq-4K3 .linkedin-hN1 {
  width: 3.7rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .auto-group-w1zb-XK7 .auto-group-sxuq-4K3 .ca-usa-R37 {
  width: 3.2rem;
  height: 1.5rem;
  position: absolute;
  left: 3.4302rem;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .jobs-for-you-V5j .item--jTo .item--H7w .auto-group-w1zb-XK7 .linkedin-the-worlds-largest-professional-network-the-mission-of-linkedin-is-simple-connect-the-worlds-professional-Xrq {
  max-width: 26.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 {
  margin-right: 0.2298rem;
  width: 37.5755rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .filter-6YZ {
  margin: 0rem 0rem 4rem 0rem;
  width: calc(100% - 0rem);
  height: 0.1rem;
  border-bottom: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  border-top: solid 0.1rem #e6e6e6;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX {
  margin-bottom: 0.9477rem;
  box-sizing: border-box;
  padding: 1.803rem 1.462rem 1.417rem 1.302rem;
  width: 100%;
  height: 10.3658rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT {
  margin-right: 2.6327rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .group-eTb {
  margin: 0.18rem 0.885rem 0rem 0rem;
  width: 3.4712rem;
  height: 5.35rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .group-eTb .rectangle-22-mHK {
  width: 3.3416rem;
  height: 4.8674rem;
  position: relative;
  left: 0.0245rem;
  top: 0;
  background-size: 481.481% 270.833%;
  background-position: -6.3738rem -4.1576rem;
  background-image: url('../assets/rectangle-22-xVo.png');
  border-radius: 2.7rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .group-eTb .frame-2815-eM7 {
  box-sizing: border-box;
  padding-top: 3.3346rem;
  width: 3.4712rem;
  height: 5.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.05rem;
  overflow: hidden;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2815-bg-4Rf.png');
  border-radius: 2.1838rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .group-eTb .frame-2815-eM7 .frame-2818-kuw {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .auto-group-2jfw-dyj {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .auto-group-2jfw-dyj .auto-group-dt33-zZP {
  margin-bottom: 0.5732rem;
  width: 6.9129rem;
  height: 3.5732rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .auto-group-2jfw-dyj .auto-group-dt33-zZP .ui-designer-7P7 {
  width: 6.7rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .auto-group-2jfw-dyj .auto-group-dt33-zZP .instagram-DBF {
  width: 4.2rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .auto-group-2jfw-dyj .auto-group-dt33-zZP .ca-usa-vLZ {
  width: 3.2rem;
  height: 1.5rem;
  position: absolute;
  left: 3.7129rem;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--hHT .auto-group-2jfw-dyj .instagram-is-a-photo-and-video-sharing-social-networking-service-owned-by-facebook-inc-pB3 {
  max-width: 23.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--ayX .item--7R3 {
  margin: 1.851rem 0rem 2.411rem 0rem;
  box-sizing: border-box;
  padding: 0.992rem 0.534rem 0.293rem 0.489rem;
  height: calc(100% - 4.2619rem);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB {
  width: 100%;
  height: 10.4491rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .rectangle-2-SLq {
  width: 37.5755rem;
  height: 10.3658rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 2rem 6rem rgba(241, 244, 247, 0.5);
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--x4H {
  box-sizing: border-box;
  padding: 0.992rem 0.534rem 0.293rem 0.489rem;
  width: 4.0228rem;
  height: 2.8844rem;
  position: absolute;
  left: 32.0906rem;
  top: 3.7865rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #fa4a0c 99.99%, #0e6694 100%);
  border-radius: 0.4rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy {
  width: 26.7005rem;
  height: 8.6463rem;
  position: absolute;
  left: 1.3017rem;
  top: 1.8027rem;
  display: flex;
  align-items: flex-start;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .group-tc9 {
  margin: 0.163rem 0.629rem 0rem 0rem;
  width: 3.4712rem;
  height: 5.3rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .group-tc9 .rectangle-22-pkh {
  width: 3.1443rem;
  height: 4.8674rem;
  position: absolute;
  left: 0.0245rem;
  top: 0.0172rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.7rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .group-tc9 .frame-2815-voj {
  box-sizing: border-box;
  padding-top: 3.3346rem;
  width: 3.4712rem;
  height: 5.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.1092rem #fff9ed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-2815-bg-ruf.png');
  border-radius: 2.1838rem;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .group-tc9 .frame-2815-voj .frame-2818-THs {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, rgba(0, 0, 0, 0.5199999809) 100%);
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .auto-group-qduj-wD3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .auto-group-qduj-wD3 .auto-group-7zev-t8H {
  margin-bottom: 0.5732rem;
  width: 10rem;
  height: 3.5732rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .auto-group-qduj-wD3 .auto-group-7zev-t8H .product-designer-1yb {
  width: 10rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .auto-group-qduj-wD3 .auto-group-7zev-t8H .periscope-8oK {
  width: 4.1rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .auto-group-qduj-wD3 .auto-group-7zev-t8H .remote-only-Tah {
  width: 5.1rem;
  height: 1.5rem;
  position: absolute;
  left: 3.4354rem;
  top: 2.0732rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #181818;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .content-kP3 .new-jobs-A97 .item--5mB .item--ZJy .auto-group-qduj-wD3 .eriscope-is-a-live-video-streaming-app-for-android-and-ios-developed-by-kayvon-beykpour-and-joe-bernstein-and-acquired-by-twitter-before-launch-in-2015-y3F {
  max-width: 22.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK {
  box-sizing: border-box;
  padding: 1.9rem 7.311rem 0.8rem 6.815rem;
  width: 43.2rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 76.9rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .home-v6u {
  margin: 0rem 4.832rem 2.302rem 0rem;
  width: 2.0885rem;
  height: 1.8979rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .auto-group-mkss-CaD {
  margin-right: 4.768rem;
  width: 15.8351rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .auto-group-mkss-CaD .auto-group-qgwd-wGu {
  margin-bottom: 1.499rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .auto-group-mkss-CaD .auto-group-qgwd-wGu .vector-Und {
  margin: 0rem 5.045rem 0.33rem 0rem;
  width: 2.0722rem;
  height: 1.8708rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .auto-group-mkss-CaD .auto-group-qgwd-wGu .create-content-c89 {
  margin: 0rem 4.803rem 0.201rem 0rem;
  width: 1.4954rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .auto-group-mkss-CaD .auto-group-qgwd-wGu .direct-messages-vPj {
  width: 2.4193rem;
  height: 2.201rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .auto-group-mkss-CaD .home-indicator-f6R {
  margin: 0rem 0.549rem 0rem 0.443rem;
  width: calc(100% - 0.992rem);
  height: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-25-GzM .explore-feed-QjB .auto-group-m4kb-SdF .navigation-bar-2XK .profile-mQM {
  margin-bottom: 2.2rem;
  width: 1.5508rem;
  height: 1.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
