
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.iphone-11-pro-max-9-CHX {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f8;
  border-radius: 2rem;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V {
  box-sizing: border-box;
  padding: 6rem 2.2rem 4.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-vl1f-r7B {
  margin: 0rem 0rem 8.3rem 1.9rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .payment-MZj {
  margin: 0rem 0rem 5.2rem 1.9rem;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #000000;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .enter-amount-below-sY5 {
  margin: 0rem 0rem 2rem 1.9rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-bgr7-zMo {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.4rem 2.8rem 2.4rem 2.8rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(133, 132, 132, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-ud5t-reu {
  margin: 0rem 0rem 23.8rem 1.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-ud5t-reu .choose-currency-PPw {
  margin-right: 10.1rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-ud5t-reu .zar-WUZ {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(4, 23, 30, 0.9200000167);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-ud5t-reu .vector-eam {
  margin-bottom: 0.2rem;
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .group-51-zPj {
  margin: 0rem 4.2rem 3.2rem 2.8rem;
  width: calc(100% - 7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .group-51-zPj .total-voB {
  margin-right: 20.1rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .group-51-zPj .item-23000-fkm {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #000000;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-b8tk-b8d {
  margin: 0 2.8rem;
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: calc(100% - 5.6rem);
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .auto-group-gerf-Y6V .auto-group-b8tk-b8d .rectangle-2-Xny {
  width: 100%;
  height: 7rem;
  cursor: pointer;
  background-color: #fa4a0c;
  border-radius: 3rem;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj {
  box-sizing: border-box;
  padding: 1.9rem 7.006rem 0.8rem 6.531rem;
  width: 100%;
  height: 6.9rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .home-Aqw {
  margin: 0rem 4.63rem 2.302rem 0rem;
  width: 2.0015rem;
  height: 1.8979rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .auto-group-7rz9-JBT {
  margin-right: 4.5693rem;
  width: 15.1753rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .auto-group-7rz9-JBT .auto-group-6a6m-SHf {
  margin-bottom: 1.499rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .auto-group-7rz9-JBT .auto-group-6a6m-SHf .vector-C1w {
  margin: 0rem 4.835rem 0.33rem 0rem;
  width: 1.9858rem;
  height: 1.8708rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .auto-group-7rz9-JBT .auto-group-6a6m-SHf .create-content-vCq {
  margin: 0rem 4.603rem 0.201rem 0rem;
  width: 1.4331rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .auto-group-7rz9-JBT .auto-group-6a6m-SHf .direct-messages-qah {
  width: 2.3185rem;
  height: 2.201rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .auto-group-7rz9-JBT .home-indicator-ygu {
  margin: 0rem 0.526rem 0rem 0.425rem;
  width: calc(100% - 0.9507rem);
  height: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 10rem;
  flex-shrink: 0;
}
.iphone-11-pro-max-9-CHX .navigation-bar-TRj .profile-5zq {
  margin-bottom: 2.2rem;
  width: 1.4862rem;
  height: 1.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
